.custom-sort {
  position: relative;
  display: inline-block;

  &--button {
    background: url("../images/icons/sort.png") no-repeat center center;
    width: 19px;
    height: 18px;
    text-indent: 500px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 19px;
    border-radius: 50%;
    border: 1px solid #D0D6DC;
    transition: all 0.5ms;
  }

  &--options {
    display: none;
    position: absolute;
    background-color: $white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    z-index: 1;
    top: 120%
  }

  &--option {
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #E3F2F9;
    }
  }
}
