.block-openidel-idea-node-bundle {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;

  .entity_bundle_label {
    text-indent: -9999em;
    width: 129px;
    height: 24px;
    font-size: 16px;

    &--challenge {
      background: url('../misc/icons/challenge_label.png') no-repeat;
      background-size: 129px 25px;
    }
    &--idea {
      background: url('../misc/icons/idea_label.png') no-repeat;
      background-size: 129px 25px;
    }
    &--article {
      background: url('../misc/icons/news_label.png') no-repeat;
      background-size: 129px 25px;
    }
  }
}
