.flag-follow {
  display: flex;
  align-items: center;
  position: relative;

  .ajax-progress {
    display: inline-block;
    padding: 0;
    position: absolute;
    right: -15px;
  }

  .throbber {
    padding: 1px 6px 2px 5px;
  }

  .js-flag-message {
    display: none;
  }
}
