.node__content{
  .block-openideal-idea-go-back-block {
    a {
      background: 0 0;
      display: inline-block;
      font-size: 15px;
      color: inherit;
      border: none;
      margin-bottom: 10px;

      &:before {
        content: '';
        display: inline-block;
        background: url('../misc/icons/back-arrrow.png') no-repeat center center;
        width: 13px;
        height: 13px;
        margin-right: 12px;
      }
    }
  }
}
