.user-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-submit {
    margin-bottom: 13px;
    font-size: 22px;
  }

  .form-actions {
    input {
      width: 588px;
      @include btn-theme($btn-dark, #1e7697);
    }
  }
  .social-login-buttons {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 50%;
    }
  }
}

@media (max-width: 615px) {
  .user-login-form .form-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .form-submit {
      flex: 1 0 100%;
    }
  }
}
