.message {
  position: relative;
  background: #485363;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 12px 12px 7px 12px;
  color: #d2caca;
  margin-bottom: 14px;
  font-size: 16px;
  overflow: hidden;

  .message-user-section__footer {
    margin-bottom: 5px;
  }

  .field {
    margin: 0;
  }

  .profile-author-view-mode .layout__region--content {
    margin-bottom: 0;
  }

  .profile-author-view-mode .layout__region--content a:hover {
    color: $white;
  }

  a {
    transition: color 0.3s;
    color: $white;

    div {
      display: inline;
    }
    p {
      display: inline;
    }
  }

  mark {
    display: none;
  }

  &--referenced-label {
    position: absolute;
    font-weight: $font-weight-bold;
    top: 15px;
    color: $white;
    left: 0;
    background: #F2994A;
    padding: 1px 14px 2px 12px;
    border-top-right-radius: 7px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;

    &:after {
      border-bottom: 21px solid #1294ca;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0;
      right: -9px;
      top: -2px;
      border-right: 8px solid red;
      border-top-left-radius: 111px;
      border-right: 13px solid transparent;
    }
  }

  &--referenced-label--idea,
  &--referenced-label--news,
  &--referenced-label--article {
    border-top-right-radius: 6px;

    &:after {
      right: -7px;
      border-top-left-radius: 100%;
      border-right: 10px solid transparent;
    }
  }

  &--referenced-label--article {
    background: #F85B85;

    &:after {
      border-bottom: 21px solid #F85B85;
    }
  }

    &--referenced-label--news {
    background: #F85B85;

    &:after {
      border-bottom: 21px solid #F85B85;
    }
  }

  &--referenced-label--idea {
    background: #64C45C;

    &:after {
      border-bottom: 21px solid #64C45C;
    }
  }

  &--referenced-label--challenge {
    background: #1294CA;

    &:after {
      border-bottom: 21px solid #1294CA;
    }
  }

  &--referenced-label--comment {
    background: #F2994A;

    &:after {
      border-bottom: 21px solid #F2994A;
    }
  }

  &--referenced-label--user {
    background: #E1B83B;

    &:after {
      border-bottom: 21px solid #E1B83B;
    }
  }

  &--referenced-label--page {
    background: #3bcee1;

    &:after {
      border-bottom: 21px solid #3bcee1;
    }
  }

  &--text {
    margin: 29px 0 10px 0;;
    padding: 0;
    overflow: hidden;

    .field--name-comment-body {
      display: inline;
      a {
        display: inline-block;
      }
      p {
        display: inline;

      }
    }
  }

  .profile {
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold;
    font-size: 12px;

    & > div {
      margin-right: 4px;
    }

  }

  .profile-author-view-mode .layout__region--content {
    img {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      margin-right: 4px;
    }

    a {
      font-size: 12px;
      transition: color 0.3s;
      color: $white;
    }
  }

  &--section {

    &__content {
      margin: 0 0 12px 0;
    }

    &__footer {
      flex-wrap: wrap-reverse;
      color: #BDBDBD;
      padding-top: 10px;
      opacity: 0.49;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      font-size: 14px;
      display: flex;
      font-style: normal;
      font-weight: bold;
      line-height: 18px;
      justify-content: space-between;

      & > div:first-child {
        margin-bottom: 5px;
      }

      .idea-statistics-block {
        margin-bottom: 5px;
      }

      .idea-statistics-block--list {
        display: flex;
        flex-direction: row-reverse;
        font-size: 14px;
        margin: 0;

        &__item {
          flex-direction: row-reverse;
          margin: 0;

          &:not(:first-child) {
            .item-svg {
              margin-right: 10px;
            }
          }

          &:first-child {
            .item-svg {
              margin-right: 0;
            }
          }
          &--count {
            margin: 0 2px 0 0;
          }

          .item-svg {
            background-size: 16.67px 16.67px;
            width: 18px;
            height: 16.67px;
          }

          &--public_stream_view.item-svg {
            background: url('../images/icons/public_stream_view.svg') no-repeat center center;
            background-size: 18.33px 15.33px;
          }

          &--public_stream_comment {
            background: url('../images/icons/public_stream_comment.svg') no-repeat center center;
            background-size: 16.67px 16.67px;
          }

          &--public_stream_like.item-svg {
            background-size: 15px;
            height: 18px;
            background: url('../images/icons/public_stream_like.svg') no-repeat;
          }

          &--public_stream_idea.item-svg {
            background-size: 16.67px 15.33px;
            background: url('../images/icons/public_stream_idea.svg') no-repeat center center;
          }

          .idea-statistics-block--list__item--score_tag {
            background: url("../images/icons/public_stream_score_tag.svg") no-repeat center center;
            width: 13px;
            height: 18px;
            background-size: auto;
          }
        }
      }

      .block-field-blockcommentcommentcreated .content a {
        color: #BDBDBD;
      }
    }
  }
  .block-field-blockcommentcommentcreated  p {
    margin-bottom: 0;
  }

  .block-field-blockcommentcommentcomment-body {
    color: $white;
  }
}

.site-sidebar .region-sidebar .block-views-blockpublic-activity-public-activity-block,
.site-sidebar .region-sidebar .block-views-blockpublic-activity-personalized-activity-block {
  padding: 0 27px;
  width: 100%;
  margin: 52px 0 0 0;
  border-bottom: unset;

  h2 {
    color: $white;
    font-size: 25px;
    margin-bottom: 18px;
  }
}

.block-openideal-personal-activity-stream-block {
  .list-group {
    list-style: none;

    &-item {
      padding: 0;
      background-color: unset;
      border: none;
    }
  }
}

.activity-stream {
  &--list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .message-user-section__footer {
    margin-top: 20px;
  }
}

@media (max-width: 1447px) {
  .message--section__footer .idea-statistics-block--list__item:not(:first-child) .item-svg {
    margin-right: 4px;
  }
}

@media (max-width: 1226px) {
    .message {
      &--text {
      font-size: 14px;
    }
    &--section__footer {
      .idea-statistics-block--list__item {

        .item-svg {
          background-size: contain;
          width: 16px;
          height: 13.67px;
        }

        &--public_stream_view.item-svg {
          background: url('../images/icons/public_stream_view.svg') no-repeat center center;
          background-size: contain;
        }

        &--public_stream_comment {
          background: url('../images/icons/public_stream_comment.svg') no-repeat center center;
          background-size: contain;
        }

        &--public_stream_like {
          background: url('../images/icons/public_stream_like.svg') no-repeat center center;
          background-size: contain;
        }

        &--public_stream_idea.item-svg {
          background: url('../images/icons/public_stream_idea.svg') no-repeat center center;
          background-size: contain;
        }
      }
    }
  }

}

@media (max-width: 1076px) {
  .site-sidebar .region-sidebar .block-views-blockpublic-activity-personalized-activity-block,
  .site-sidebar .region-sidebar .block-views-blockpublic-activity-public-activity-block {
    padding: 0 10px;
  }
}

@media (max-width: 991px) {
  .site-sidebar .region-sidebar .block-views-blockpublic-activity-personalized-activity-block,
  .site-sidebar .region-sidebar .block-views-blockpublic-activity-public-activity-block {
    padding: 0 27px;
  }
}

@media (max-width: 767px) {
  .view--news--all-news-page .site-sidebar,
  .entity--user--canonical .site-sidebar,
  .view--frontpage--front-page .site-sidebar {
    display: block !important;
    width: 312px;
    padding-left: 0;
    position: fixed;
    top: 0;
    right: -312px;
    height: 100vh;
    overflow: scroll;
    z-index: 999;
    transition: all 0.3s;

    &.active {
      right: 0;
    }

    .site-sidebar--dismiss {
      position: absolute;
      right: 20px;
      top: 10px;
    }
  }
}

@media (max-width: 656px) {
  .node--view-mode-teaser {
    .block-field-blocknodechallengetitle a,
    .block-field-blocknodearticletitle a,
    .block-field-blocknodeideatitle a {
      font-size: 24px;
    }

    .teaser-top-section--section__second {
      padding: 15px;
    }
  }
}
