.main-content {
  nav.tabs {
    ul {
      background: unset;

      .nav-item {
        flex-grow: unset;

        a {
          color: #0079C0;
        }

        &.active a {
          background: unset;
        }
      }

    }
  }

}
