.node--view-mode-full {
  .card-body {
    padding: 26px 101px 50px 19px;
    // Block created.
    .block-field-blocknodechallengecreated,
    .block-field-blocknodediscussioncreated,
    .block-field-blocknodearticlecreated,
    .block-field-blocknodeideacreated {
      font-size: $font-size-xs;
      color: $dark-gray;
      margin-bottom: 10px;
    }

    // Block title
    .block-field-blocknodeideatitle,
    .block-field-blocknodediscussiontitle,
    .block-field-blocknodepagetitle,
    .block-field-blocknodearticletitle,
    .block-field-blocknodechallengetitle {
      a {
        color: inherit;
      }

      font-size: 1.6rem;
      line-height: 30px;
      margin-bottom: 26px;
    }

    // Block body.
    .block-field-blocknodeideabody,
    .block-field-blocknodediscussionbody,
    .block-field-blocknodepagebody,
    .block-field-blocknodearticlebody,
    .block-field-blocknodechallengebody {
      color: $dark-gray;
      line-height: 24px;
    }

    .block-openideal-idea-info-block,
    .block-openideal-statistics-challenge-statistics,
    .block-views-blockfollowers-followers {
      display: none;
    }

    .block-field-blocknodeideafield-attached-docs,
    .block-field-blocknodepagefield-attached-docs,
    .block-field-blocknodearticlefield-attached-docs,
    .block-field-blocknodechallengefield-supporting-data {
      h2 {
        font-size: 1rem;
        font-weight: $font-weight-bold;
      }

      a {
        font-size: $font-size-sm;
      }

      .field {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .field__items {
        line-height: 180%;
      }
    }

    .idea-statistics-block {
      margin-bottom: 0;

      &--list {
        margin: 0;
      }
    }
  }

  &.node--type-discussion .node__content > .card {
    padding: size(25) size(25) size(25) size(25);

    .card-img-top {
      margin-bottom: 25px;
      border-bottom: 1px solid #E0E0E0;
      display: flex;
      justify-content: space-between;
    }

    .card-body {
      padding: 0 size(80) size(18) 0;
    }

    .votingapi-widgets form {
      display: flex;
      flex-direction: column;
      align-items: center;

      p,
      fieldset {
        margin-bottom: 0;
      }
    }
  }

  .block-field-blocknodearticlefield-tags {
    margin-top: 10px;

    h2 {
      font-size: 1rem;
      font-weight: 700;
    }

    .field__items {
      display: flex;

      li {
        @include btn-theme($white, $white);
        border: 1px $primary-color solid;
        padding: .2em 1em;
        font-weight: $font-weight-base;
        margin-right: 3px;
        font-size: $font-size-sm;
        color: $primary-color;
        text-decoration: none;
        margin-bottom: 5px;
      }
    }
  }

  .idea-statistics-and-status-block,
  .block-openideal-statistics-challenge-statistics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 44px;
    font-size: 14px;

    &--status {
      text-transform: capitalize;
      font-weight: $font-weight-bold;
      color: $dark-gray;
    }

    .idea-statistics-block {
      display: flex;

      &--list {
        display: flex;
        font-size: 14px;

        &__item {
          margin: 0 8px 0 0;

          &--title {
            display: none;
          }

          svg {
            margin-right: 4px;
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .block-openidel-discussion-add {
    padding-top: size(44);
    padding-bottom: size(25);
    border-top: 1px solid #E0E0E0;
    margin-top: size(44);
    position: relative;

    .ajax-progress {
      display: inline-block;
      padding: 0;
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
    }

    .throbber {
      padding: 1px 6px 2px 5px;
    }

    h3 {
      margin-bottom: 0;
      font-size: size(28);
      font-weight: 600;
    }

    a {
      @include btn-theme(transparent, transparent);
      border: size(1.5) solid $btn-dark;
      font-size: $font-size-xs;
      color: $btn-dark;
      padding: size(15) size(43);
      display: flex;
      align-items: center;


      &:hover,
      &:active {
        color: $btn-dark;
      }
    }
  }

  .block-views-blockideas-idea-discussions-block {
    border-radius: 4px;
    overflow: hidden;
    border-left: 3px solid #1EBCA1;

    .views-row:not(:last-child) .discussion-teaser--section__second {
      border-bottom: 1px solid #E0E0E0;
    }
  }

  .two-columns-challenge-ideas {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;

    .challenges-ideas-title {
      font-size: 28px;
      font-weight: $font-weight-bold;
    }

    a {
      padding: 15px 70px;
      @include btn-theme($btn-light, #5eaed2);
      font-size: 15px;
    }
  }
}

.view--news--all-news-page .node--type-article .card-body {
  .block-openideal-rrssb-block h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.00001rem;
    margin-bottom: 16px;
  }

  .block-openideal-idea-info-block {
    display: block;
  }

  .share-buttons--buttons__copy_url {
    display: none;
  }
}

@media (max-width: 767px) {
  .node--view-mode-full .card-body {
    padding: 26px 19px;

    .block-field-blocknodeideafield-attached-docs,
    .block-field-blocknodearticlefield-attached-docs,
    .block-field-blocknodechallengefield-supporting-data {
      h2 {
        font-size: 14px;
        text-transform: uppercase;
      }

      a {
        font-size: 15px;
      }
    }

    .block-openideal-idea-info-block,
    .block-openideal-statistics-challenge-statistics,
    .block-views-blockfollowers-followers {
      display: unset;
    }

    .block-views-blockfollowers-followers {
      h5 {
        font-size: 15px;
      }
    }

    .block-field-blocknodeideatitle,
    .block-field-blocknodearticletitle,
    .block-field-blocknodechallengetitle {
      font-size: 24px;
    }

    .mobile_idea_blocks {
      h2 {
        font-size: 14px;
      }

    }

    .challenge-statistics-block--list__item .item-svg,
    .idea-statistics-block--list__item .item-svg {
      background-size: 24px 24px;
      width: 24px;
      height: 24px;
    }

    .idea-information {
      border-top: 1px solid #E0E0E0;
      padding-top: 17px;

      &--list__item--title {
        font-size: 14px;
      }

      &--list__item--value {
        font-size: 15px;
        color: $dark-gray;
      }

      .challenge-status--deadline {
        font-size: 15px;
        color: #EB5757;
      }
    }
  }

  .block-views-blockfollowers-followers {
    h2 {
      font-size: $font-size-xs;
      font-weight: $font-weight-bold;
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    .view-content img {
      margin-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .comments--header__add-comment-btn {
    display: none;
  }
}

@media (max-width: 630px) {
  .node--view-mode-teaser.node--type-discussion .block-openideal-idea-info-block {
    flex-basis: initial;
    order: initial;
    display: initial;
    justify-content: initial;
  }
}

@media (max-width: 480px) {
  .node--view-mode-full .block-openidel-discussion-add {
    h3 {
      font-size: size(18);
      font-weight: 600;
    }

    a {
      padding: size(10) size(10);
      font-size: size(13);
    }
  }
}

@media (max-width: 435px) {
  .node--view-mode-full.node--type-idea .idea-statistics-and-status-block {
    .idea-statistics-and-status-block--status {
      margin-left: 8px;
    }

    .idea-statistics-block {
      margin-bottom: 5px;
      flex-basis: 100%;
    }
  }
}
