.navigation-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.navigation-overlay.active {
  display: block;
  opacity: 1;
}
