.block-page-title-block {
  .title {
    color: #343352;
    font-size: $h1-font-size;
    line-height: 100%;
    font-weight: 600;
    padding-bottom: 14px;
    width: calc(70% - 2.4em);
    border-bottom: 1px solid #D0D6DC;
    margin: 10px 0 44px 0;
  }
}
