.profile-author-view-mode .layout__region--content {
  display: flex;
  align-items: center;
  margin-bottom: size(26);
  a {
    height: 100%;
    display: flex;
    font-style: normal;
    font-weight: bold;
    color: $primary-color;
    text-transform: capitalize;
    &:hover {
      color: $primary-color;
    }
  }

  .field--name-user-picture {
    margin-right: size(7);
    max-width: size(46);
    height: size(46);
  }

  img {
    height: auto;
    object-fit: cover;
    border-radius: 50%;
  }
}
