.profile-author-view-mode .layout__region--content {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  a {
    font-style: normal;
    font-weight: bold;
    color: $primary-color;
    text-transform: capitalize;
    margin-right: 3px;
    &:hover {
      color: $primary-color;
    }
  }

  img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 7px;

  }
}
