.field--widget-openideal-user-entity-browser-single-file {
  .single-entity-browser-widget {
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 5px;
    border-radius: 50%;
  }

  input {
    flex-basis: 10%;
    @include btn-theme($btn-dark, #1e7697);
  }
}
