.idea-statistics-block {

  &--list__item--view_tag {
    background: url('../images/icons/view_tag.svg') no-repeat center center;
  }

  &--list__item--comment_tag {
    background: url('../images/icons/comment_tag.svg') no-repeat center center;
  }

  &--list__item--statistics_tag {
    background: url('../images/icons/statistics_tag.svg') no-repeat center center;
  }

  &--list__item--like_tag {
    background: url('../images/icons/like_tag.svg') no-repeat center center;
  }

  &--list__item--score_tag {
    background: url('../images/icons/score_tag.svg') no-repeat center center;
  }

  &--list__item--public_stream_view {
    background: url('../images/icons/teaser_view.svg') no-repeat center center;
  }

  &--list__item--public_stream_comment {
    background: url('../images/icons/teaser_comment.svg') no-repeat center center;
  }

  &--list__item--public_stream_like {
    background: url('../images/icons/teaser_like.svg') no-repeat center center;
  }

  &--list__item--public_stream_idea {
    background: url('../images/icons/teaser_idea.svg') no-repeat center center;
  }
}
