/* $Id: basic-rtl.css,v 1.1.4.2 2010/08/27 18:38:35 katbailey Exp $ */

.quicktabs_main.quicktabs-style-basic{
  border:1px solid #aaa;
}
ul.quicktabs_tabs.quicktabs-style-basic{
  border-bottom:none;
  padding:0 0 0 5px;
}
ul.quicktabs_tabs.quicktabs-style-basic li{
  float:right;
  margin:0 0 0 3px;
}
