/* $Id: quicktabs-admin-rtl.css,v 1.1.4.2 2010/08/27 18:00:53 katbailey Exp $ */

/* RTL support */
#qt-tablist-table label {
  float: right;
  clear: right;
}

#quicktabs-form #add-more-tabs-button{
  float: right;
}

#quicktabs-settings .quicktabs-tabstyles .form-item {
  float: right;
  margin: 0 0 10px 10px;
}
#quicktabs-settings .quicktabs-tabstyles .form-item .option .form-radio {
  margin-left: 5px;
  float: right;
}
