/* $Id: quicktabs.css,v 1.1.6.2 2010/08/27 18:00:53 katbailey Exp $ */

.quicktabs-hide {
  display: none;
}

ul.quicktabs_tabs {
  margin-top: 0;
}
ul.quicktabs_tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 2px;
  white-space: nowrap;
}
ul.quicktabs_tabs li a:focus {
  outline: none;
}
