
// Layout for smallest viewports

// ====== Media Queries for a Responsive Design. ============================
//   By default we suggest 4 levels of layout :
//   default - large viewport - fixed, pixel based layout, two sidebars floating (@see sasson-base.scss).
//   second - medium viewport - fluid, precentage based layout, two sidebars floating (@see sasson-narrow.scss).
//   third - small viewport - fluid, precentage based layout, only first one floating (@see sasson-narrower.scss).
//   forth - no media queries - simple, content first, no sidebars layout (@see sasson-narrowest.scss).
// ==========================================================================

// Trigger JS media queries
head {
  width: 3px;
}

#admin-menu {
  display: none;
}
html body.admin-menu {
  margin-top: 0 !important;
}

// No sidebars floats
body.two-sidebars,
body.one-sidebar.sidebar-first,
body.one-sidebar.sidebar-second {
  #main {
    @include fluid-grid($ninesixty-columns);
    right: auto;
    left: auto; /* Reset grid-pull */
  }
}

#header {
  #logo {
    margin: 0 0 0 1%;

    img {
      max-height: 70px;
      margin-bottom: 10px;
    }
  }
  h1#site-name {
    font-size: 1.8em;
    max-width: 50%;
    margin: 0 3px 0 0;
  }
  #main-menu-links {
    display: table;
    width: 100%;

    li {
      display: table-cell;
      padding: 0;
      text-align: center;

      a {
        padding: 5px;
        margin: 0;
        border-radius: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
      &.last a {
        border-right-width: 1px;
        border-right-style: solid;
      }
    }
  }
}
#main,
#sidebar-first {
  padding: 20px 15px;
}
