
 // Layout for smallest viewports - default.

// ====== Media Queries for a Responsive Design. ============================
//   By default we suggest 4 levels of layout :
//   default - large viewport - fixed, pixel based layout, two sidebars floating (@see sasson-base.scss).
//   second - medium viewport - fluid, precentage based layout, two sidebars floating (@see sasson-narrow.scss).
//   third - small viewport - fluid, precentage based layout, only first one floating (@see sasson-narrower.scss).
//   forth - no media queries - simple, content first, no sidebars layout (@see sasson-narrowest.scss).
// ==========================================================================

// Fixed width page
#page {
  @include grid-container;
}
#featured,
#main {
  @include fluid-grid($ninesixty-columns);
}

#logo {
  float: left;
}

// Sidebars
#sidebar-first {
  @include fluid-grid($sidebar-first);
}
#sidebar-second {
  @include fluid-grid($sidebar-second);
}

// Two columns (first sidebar and main-content) layout
.one-sidebar.sidebar-first {
  #main {
    @include fluid-grid($ninesixty-columns - $sidebar-first);
    @include fluid-push($sidebar-first);
  }
  #sidebar-first {
    @include fluid-pull($ninesixty-columns - $sidebar-first);
  }
}

// Two columns (second sidebar and main-content) layout
.one-sidebar.sidebar-second {
  #main {
    @include fluid-grid($ninesixty-columns - $sidebar-second);
  }
}

// Three-column layout
.two-sidebars {
  #main {
    @include fluid-grid($ninesixty-columns - $sidebar-first - $sidebar-second);
    @include fluid-push($sidebar-first);
  }
  #sidebar-first {
    @include fluid-pull($ninesixty-columns - $sidebar-first - $sidebar-second);
  }
}
