
// Layout for medium viewports

// ====== Media Queries for a Responsive Design. ============================
//   By default we suggest 4 levels of layout :
//   default - large viewport - fixed, pixel based layout, two sidebars floating (@see sasson-base.scss).
//   second - medium viewport - fluid, precentage based layout, two sidebars floating (@see sasson-narrow.scss).
//   third - small viewport - fluid, precentage based layout, only first one floating (@see sasson-narrower.scss).
//   forth - no media queries - simple, content first, no sidebars layout (@see sasson-narrowest.scss).
// ==========================================================================

// Trigger JS media queries
head {
  width: 1px;
}

// Three-column fluid layout
#page,
#header-inner,
#secondary-menu-links,
#footer-inner {
  max-width: 100%;
}
