/* $Id: img_assist.css,v 1.1.2.2 2008/12/25 19:15:08 sun Exp $ */

.mceItemDrupalImage {
  border: 1px dotted #cc0000;
  background-image: url('images/drupalimage.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffcc;
}

