<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/sites/all/modules/idea_widget/components/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/sites/all/modules/idea_widget/components/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script type="text/javascript" src="/sites/all/modules/idea_widget/components/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script type="text/javascript" src="/sites/all/modules/idea_widget/components/bower_components/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="/sites/all/modules/idea_widget/components/bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/sites/all/modules/idea_widget/components/bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="/sites/all/modules/idea_widget/components/bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="/sites/all/modules/idea_widget/components/idea_widget.js"></script>
<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<link rel="stylesheet" href="/sites/all/modules/idea_widget/components/bower_components/angular-material/angular-material.min.css">
<link rel="stylesheet" href="/sites/all/modules/idea_widget/components/idea_widget.css">

<div id="idea-widget-wrapper" >
   <div ng-include="'/sites/all/modules/idea_widget/components/idea-widget-form.html'" ></div>
</div>