/* $Id: faq.css,v 1.1.2.6.2.6 2009/11/20 02:44:40 snpower Exp $ */
.faq-category-indent {
  padding-left: 20px;
}

.faq-more-link {
  font-size: 0.85em;
  margin-left: 30em;
  margin-top: 0;
  margin-bottom: -1.25em;
  text-align: right;
}

.faq-top-link {
  font-size: 0.8em;
  margin-top:0;
  margin-bottom: 0;
  padding-bottom: 1.0em;
}

.faq-question {
  padding-top: 5px;
  padding-left: 20px;
}

.faq-answer {
  padding-left: 40px;
}

.faq-dl-hide-answer {
  padding-bottom: 15px;
}

img.faq-tax-image {
  float: left;
  padding: 0px 3px 0px 3px;
}

div.faq-detailed-question {
  font-style: italic;
}

.faq .collapsible {
	display: block;
}

.faq .collapsed {
	display: none;
}

.faq #faq-expand-all {
  text-align: right;
  display: none;
}
.faq #faq-expand-all a.faq-expand-all-link,
.faq #faq-expand-all a.faq-collapse-all-link {
  display: none;
}
