#idea-widget-admin-setting #edit-remove-item, #idea-widget-admin-setting .form-submit{
  border: 1px solid #e2e2e2;
  background: #fdfdfd;
  box-shadow: 0px -18px 25px -20px #888888 inset;
  display: inline-block;
  padding: 3px 15px 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
#idea-widget-admin-setting  #edit-remove-item:hover , #idea-widget-admin-setting .form-submit:hover {
  background: #f7f7f7;
}
#idea-widget-admin-setting  #form-fieldset-wrapper > .form-wrapper >.fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#idea-widget-admin-setting  .tabs-fieldset-wrapper {
  width: 45%;
  border: 5px solid #cecece;
  max-width: 500px;
  padding: 20px;
  margin: 5px;   
}
#idea-widget-config{
  max-width: 800px;
}
.js-textareacopybtn{
  padding: 6px;
  margin-top: 0px;
}
#edit-embed-widget textarea{
  color:#AAA;
  background:#F5F5F5;
}