/* $Id: image.css,v 1.5 2009/08/27 12:10:56 joachim Exp $ */

/* Views: gallery style plugin. */
.view .image-gallery-nodes ul {
  text-align:center;
}
.view .image-gallery-nodes ul li {
  display:inline-block;
  /*
    There is no pretty way to get thumbnail sizes here.
    This will need to be overridden for sites that set a different size.
  */
  width:150px;
  height: 150px;
  text-align:center;
  background: none;
}