@CHARSET "UTF-8";

.heartbeat-conf-indent {
  font-size: 0.9em;
  margin-left: 0;
  padding-left: 40px;
  border-left: 3px solid #CCC;
}

.heartbeat-conf-indent .form-item {
  margin: 0; padding: 0;
}