.node .image-attach-body {
  float: right;
  margin-left: 1em;
}
.node .image-attach-teaser {
  float: right;
  margin-left: 1em;
}
.node {
  clear: both;
}
.image-unpublished {
  background-color:#FFF4F4;
  padding: 1em;
}