#comments .indented,
#comments .comment .comment-form,
.show-all-comments.hidden,
.comment.js-hidden {
  display: none;
}
#comments .comment_show {
  cursor: pointer;
}
.show-all-comments {
  cursor: pointer;
}
