h2#an-info-header{
  padding-top: 0.5em;
}

div#an-info-box{
  display: table; 
  width: 100%;
  table-layout: fixed;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#an-info-box div.cell{
  display: table-cell;
  padding-right: 2em;
  vertical-align: top;
  text-align: left;
}

#an-info-box div.cell.an-left{
}

#an-info-box div.cell.an-center{
  padding-left: 2em; 
  border-left: 1px solid #D0D0D0;
  border-right: 1px solid #D0D0D0;
}

#an-info-box div.cell.an-right{
  padding-left: 2em; 
}

div#an-pg-container{
  display: table; 
  width: 100%;
}

div#an-pg-form{
  display: table-cell; 
  vertical-align: top;
  width: 100%;
}

div.an-pg-banner{
  display: table-cell; 
  text-align: right;
  padding-left: 1em;
}

#acquia-agent-settings-form-banner{
  padding-top:21px;
}
