.main-content-outer {
  section.main-content {
    padding: 30px 17px;
  }
  // Content site slogan.
  .main-site-logo {
    &--heading {
      color: $btn-dark;
      font-weight: $font-weight-bold;
    }

    &--sub-heading {
      display: block;
      font-weight: $font-weight-light;
      color: $main-font-color;
    }

    &--subline {
      color: $dark-gray;
    }
  }

  .block-site-wide-statistics-block {
    position: absolute;
    top: 0;
    right: 3%;
  }

}

@media (max-width: 991px) {
  .main-content-inner {
    padding-right: 0;
  }
  .main-content-outer {
    section.main-content {
      padding: 14px 5px;
    }
  }
}

@media (max-width: 1110px) {
  .block-site-wide-statistics-block {
    display: none;
  }
}
