.main-content-outer {
  section.main-content {
    padding: 30px 17px;
  }

  .block-site-wide-statistics-block {
    position: absolute;
    top: 0;
    right: 16px;
  }

}

.view--frontpage--front-page {
  section.main-content {
    padding: 30px 17px;
  }

  .block-site-wide-statistics-block {
    position: absolute;
    top: 0;
    right: 23px;
  }

}

@media (max-width: 991px) {
  .main-content-inner {
    padding-right: 0;
  }
  .main-content-outer {
    section.main-content {
      padding: 14px 5px;
    }
  }
}

@media (max-width: 1110px) {
  .block-site-wide-statistics-block {
    display: none;
  }
}
