    .view-header{
      margin-top: -32px;
      font-size: 21px;
    }




/*---------------------------------------------------
                        User-picture
---------------------------------------------------*/

.user-picture{
	img{
		border-radius: 50%;
	}
}
  

/*--------------------------------------------------------------
                         Page-community
----------------------------------------------------------------*/
.page-community{
	.title{
    padding-right: 50px;
    padding-left: 0px;
    }
	.view-community{  
		.view-content{
			> div {
			    margin-left: 24px;
			    margin-right: 0px;
				#panel-bootstrap-region-sidebar{
					float: left;
				}
				.region-inside-first{
					float: left !important;
				}
				.views-field-name{
	    			margin-right: -3%;
	    			margin-left: 0px;
				}
				.views-field-picture{
					margin-right: 18%;
					margin-left: 0px;
				}
				.views-field-field-bio{
				    margin-right: -7%;
				    margin-left: 0px;
				    padding-right: 11px;
				}
			}
		}
	}
}
/*--------------------------------------------------------------
                         Box-add-comment
----------------------------------------------------------------*/
.pane-node-comment-form{
   a.username::before{
       content:'נוצר ע"י';
       display: block;
   }

} 
