
/*---------------------------------------------------
                       List-news
---------------------------------------------------*/
.page-news .ol-item {
   .views-field-view-node {
	  float: left;
    }

	.views-field-view-node {
        margin-left: inherit;
        margin-rifht: 8.5%;
    }
}