/* 
 * ##### Sasson - advanced drupal theming. #####
 *   
 * SITENAME theme main stylesheet.
 * 
 *  Index
 *  -----------
 *  1. General Sitewide Styles
 *    -- Layout
 *    -- General Styles
 *    -- Typography
 *    -- Links 
 *    -- Header
 *    -- Sidebars
 *    -- Footer
 *  2. Front Page
 *  3. Inner Pages
 *  4. Forms
 * 
 */

 /*         Definitions and Imports
 *************************************************/
/* Imports */
@import "bootstrap4luz";


.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  // filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  // filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 5px;
}

@mixin block-link {
  background-color: #5fbae7;
  border-radius: 3px;
  color: #fff;
  padding: 1px 5px 2px;
  font-size: 12px;
  display: inline-block;
  margin: 0;
}

/*         General Sitewide Styles
 *************************************************/
  /* Layout */

  /* General Styles (Colors, Backgrounds etc.)*/
  body {
     background: url('../images/bg-header.jpg') repeat-x top;
     color: #808080;
  }

  a, 
  a:visited {
    color: #1B90C9;
  }
  a:hover,
  a:active {
     color: #0050A3;
  }

  /* Typography */

  h1 {
    color: #1B90C9;
    font-size: 32px;
  }
  h2 {
    font-size: 16px;
  }

  /* Links */

  #main-menu {
    float: left;
    width: 400px;
    margin-top: 115px;
    margin-left: 50px;

    a {
      @extend .btn;
      @extend .btn-large;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
      height: 16px;
    }
  }

  #secondary-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 990;

    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  }
  .admin-menu #secondary-menu{
      top: 30px;
    }
  #secondary-menu-links {
    display: block;
    margin: 0 auto;
    width: 960px;
    padding: 10px 0;
    overflow: hidden;

    li {
      display: block;
      float: left;
      
      a {
        color: #999999;
        float: none;
        line-height: 19px;
        padding: 10px 10px 11px;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

        &:hover {
          background-color: #222222;
          color: #FFFFFF;
          text-decoration: none;
        }

      }
    }
  }


  /* header */
  #header {
    margin-top: 30px;

    #logo {
      margin: 20px;
    }

    h1#site-name {

      float: left;

      a {
        background: url("../images/logo-type.png") no-repeat top left;
        height: 70px;
        margin-top: 60px;
        overflow: hidden;
        text-indent: -9000px;
        width: 162px;
        display: block;
      }
    }
  }


  /* Sidebars */

  .block-search {
    .form-type-textfield input {
      width: 140px;
    }
    .form-actions {
      padding: 0;
    }
  }

  #block-ideal-category-list {
    ul {
    	display: none;
      padding: 0;
      margin: 0;
      list-style: none;

      &.level-0 {
        display: block;
      }

      li {
        list-style: none;
        background: url("../images/sqr-bullet.png") no-repeat 0 4px;
        padding: 0 0 0 20px;
        margin: 0;
      }
    }
  }

  /* Footer */


/*         Front Page
 *************************************************/
.front {
  .region-content {
    .block-views {
      display: inline-block;
      vertical-align: top;
      width: 29%;
      margin: 0 3% 30px 0;

      .views-row {
        border-bottom: 1px solid #DDDDDD;
        padding: 5px 0;
      }
    }
  }
}

/*         Inner Pages
 *************************************************/

// Quicktabs (on category, ideas, and in action pages)
.block-quicktabs {
  .quicktabs-tabs {
    margin: 0 0 0 10px;

    li {
      border: 1px solid #ddd;
      border-bottom: none;
      padding: 7px;
      border-radius: 5px 5px 0 0;
      display: inline-block;
      margin: 0;

      &.active {
        border-bottom: 1px solid white;
        margin-bottom: -1px;
      }
    }
  }
  .quicktabs-tabpage {
    padding: 5px 5px 0;
    border-radius: 5px;
     border: 1px solid #ddd;

    .views-row,
    .view-empty {
      @include box;
    }  
  }
}
// tabs on user pages 
.section-user #main {
  ul.primary{
    margin: 5px 0 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    li {
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 7px;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    margin: 0;
    a {
      border: none;
      background: none;
      color: #000000;
      &:hover{
        text-decoration: underline;
      }
    }

    &.active {
      border-bottom: 1px solid white;
      margin-bottom: -1px;
    }
    }
  }
  ul.secondary {
    border-bottom: none;
    margin: 10px 0;
    padding: 0.5em 1em;
    li{
      border: none; 
    } 
    .active {
      border: none;
    }
    .active > a {
      background-color: #0088CC;
      color: #FFFFFF;
      border-radius: 5px 5px 5px 5px;
      margin-bottom: 2px;
      margin-top: 2px;
      padding: 8px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

// Idea(s)
.field-name-field-category {
  clear: both;
  float: left;
  margin-right: 10px;
  ul {
    margin: 0;
  }
  li {
    list-style: none;
    a{
      @include block-link;
    }
  }
} 
.field-name-field-project-image {
  float: right;
  margin: 0 0 10px 10px;
}
.vud-widget-alternate {
  height: 75px;
  margin: 10px 20px 0 0;
}
.field-name-body {
  margin-top: 10px;
}
footer {
  clear: both;
  .links.inline {
    margin: 0;
    li {
      padding: 0;
      margin-right: 10px;
      a {
        background: url('../images/v-bullet.png') no-repeat left center;
        padding-left: 20px;
        display: inline-block;
        }
      }
  }  
}


// Comments
article #comments {
  clear: both;

  h2 {
    border-bottom: 1px solid #ddd;
  }

  article {
    @include box;
  }
}

// Project
#block-views-ideas-in-project-block {
  article {
    @include box;
  }
}
.field-name-field-project-ref {
  @include box;
}
.field-name-field-in-action {
  float: left;
  margin-right: 10px;
  .field-item {
    @include block-link;
  }
}
.field-name-field-launched-date {
  float: left;
  margin-right: 10px;
}

//*         Forms
// *************************************************/


//*         Table
// *************************************************/

td.active {
  background-color: #FFFFFF;
}
th.active img {
    display: inline;
    padding: 0 10px;
}

