@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3rrk6d');
  src:  url('fonts/icomoon.eot?3rrk6d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3rrk6d') format('truetype'),
    url('fonts/icomoon.woff?3rrk6d') format('woff'),
    url('fonts/icomoon.svg?3rrk6d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\e911";
}
.icon-icon:before {
  content: "\e900";
}
.icon-icon-arrow:before {
  content: "\e902";
}
.icon-icon-arrow2:before {
  content: "\e903";
}
.icon-icon-arrow3:before {
  content: "\e904";
}
.icon-icon-arrow4:before {
  content: "\e905";
}
.icon-icon-checkbox:before {
  content: "\e906";
}
.icon-icon-clock:before {
  content: "\e907";
}
.icon-icon-close:before {
  content: "\e908";
}
.icon-icon-hamburger:before {
  content: "\e909";
}
.icon-icon-heart:before {
  content: "\e90a";
}
.icon-icon-idaes:before {
  content: "\e90b";
}
.icon-icon-members:before {
  content: "\e90c";
}
.icon-icon-send:before {
  content: "\e90d";
}
.icon-icon-serch:before {
  content: "\e90e";
}
.icon-icon-trash:before {
  content: "\e90f";
}
.icon-icon-vote:before {
  content: "\e910";
}
.icon-home2:before {
  content: "\e901";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}

