/* $Id: backup_migrate.css,v 1.1.2.1.2.1 2009/06/01 03:32:44 ronan Exp $ */
.schedule-list-disabled {
  filter:alpha(opacity=50);
  -moz-opacity: .50;
  opacity: .50;
}

.backup-migrate-tables-checkboxes .form-item label {
  width: 15em;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  height: 1.75em;
  margin: .25em .25em 0 0;
}
.backup-migrate-tables-checkboxes .form-item label.checked {
  background-color: #eee;
}
div.backup-migrate-tables-checkboxes {
  height: 20em;
  overflow: auto;
}

div.row-error {
  color: #FF0000;
  font-weight: bold;
}

