/* $Id: styles.css,v 1.1 2009/01/31 21:28:46 dvessel Exp $ */

h1#site-name {
  margin-bottom: 0;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 1.5em;
}

/*
** Formatting for administration page
**
** The admin panel styles are a mess. IE has problems with this so this is
** only a temporary fix. This should be fixed in core.
*/
div.admin-panel {
  padding: 0;
}

div.admin-panel .body {
  padding: 0 !important;
}

div.admin .left,
div.admin .right {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

div.admin .right .admin-panel {
  margin-left: 10px;
}
