@import "hacks";

// Contain floats: h5bp.com/q
@mixin clear {
  &:before, &:after {
    content: "\0020"; 
    display: table;
    @include has-layout;
  }
  &:after { clear: both; }
  & { zoom: 1; }
}
