/* $Id: hs_content_taxonomy.css,v 1.1 2008/05/13 21:55:30 wimleers Exp $ */

/* The highlighted "Important!" on the CCK widget configuration form. */
.cck-hierarchical-select-warning .highlight {
  font-size: 140%;
  color: red;
}


/* The "back" link on the Hierarchical Select configuration form. */
.cck-hierarchical-select-back-link {
  margin: 2em;
}

.cck-hierarchical-select-back-link a {
  font-size: 120%;
}
