/* GENERAL*/
body {
  color: #333;
	direction:rtl;
}

/* header */
h2 {
	font-size:16px;
	margin-bottom:0;
}

h3 {
	font-size:1em;
	margin-bottom:0;
}

/*LINKS*/


a {
	color:#000;
	font-weight:bold;
}
a:hover {
	color:#444;
}
.views-field-title a, 
.sidebar a, 
.view h2 a {
   text-decoration: none;
 }
p {
	margin-bottom:5px;
}
/*LEFT MENU*/
#block-menu-menu-links ul{
  padding: 0 1em 0.25em 0;
}
#block-menu-menu-links ul li{
  list-style: circle outside;
}


#site-header {
/*	background:#000;*/
}
#site-header .j14-header{
	background:#484848;
	overflow:hidden;
}
#site-header .j14-header ul.menu {
	overflow:hidden;
}
#site-header .j14-header .block-menu {
	float:right;
	margin:0;
}
#site-header .j14-header ul.menu li {
	float: right;
	line-height: 2.3em;
	padding: 0 10px;
}
#site-header .j14-header ul.menu li a {
	color:#fff;
	text-decoration:none;
	font-weight:normal;
} 
#site-header .j14-header ul.menu li.last {
	border-right: 1px solid #FFFFFF;
}
#site-header .j14-header ul.menu li a.highlight {
	background-color: yellow;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:3px 8px;
	color:black;
}
/* social nav */

.quick-nav  {
	float:left;
	padding-left:10px;
	margin:0;
}
#nav .quick-nav li {
    padding-top: 8px;
}
.quick-nav li {
    padding: 5px 8px 0 0;
}
.quick-nav li {
    display: inline;
    float: right;
}
.quick-nav li a#rss{
    background: url("../images/rss.png") no-repeat scroll 0 0 transparent;
}
.quick-nav li a#twitter{
    background: url("../images/twitter.png") no-repeat scroll 0 0 transparent;
}
.quick-nav li a#facebook{
    background: url("../images/facebook.png") no-repeat scroll 0 0 transparent;
}
.quick-nav li a#youtube{
    background: url("../images/youtube.png") no-repeat scroll 0 0 transparent;
}
.quick-nav li a{
    clear: right;
    display: block;
    float: right;
    height: 16px;
    text-indent: -9000px;
    width: 16px;
		text-decoration:none;
}

/* social nav end */
#search-box {
	overflow:hidden;
}
#search-box .views-exposed-widgets{
	float:left;
}
#mission {
  border: 1px solid;
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 25px;
}
#page {
	background:url("../images/lines.gif") repeat-y scroll top center transparent;
	margin-bottom:20px;
	padding:10px 0;
	
}
#sidebar-right .block {
	padding-bottom:10px;
	background:url("../images/line-hor.gif") no-repeat scroll bottom center transparent;
}

#footer-message {
  background:#ccc;
  text-align: center;
}
.node-teaser {
    border: 4px solid #CCCCCC;
    padding: 10px 40px 10px 15px;	
    background: url("../images/icons-node-default.gif") no-repeat scroll top right transparent;
}

.view-idea-in-focus .node-teaser  {
	border-color:#FEF200;
}
.node-teaser-node-type-idea {
	background-image: url("../images/icons-node-idea.gif");
}
.node-teaser-node-type-news {
	background-image: url("../images/icons-node-news.gif");
}

body.page-node #page-title{
	border-top: 4px solid #FEF200;
	padding-right:40px;
	background: url("../images/icons-node-default.gif") no-repeat scroll top right transparent;
} 
body.node-type-idea #page-title{
	background: url("../images/icon-idea.gif") no-repeat scroll top right transparent;
}

ul.menu li {
	list-style: none outside none;
	margin:0;
}
#block-menu-primary-links ul {
	margin:0;
	padding:0;
}

#block-menu-primary-links ul.menu li a{
  background: url("../images/icons-primary.gif") no-repeat scroll right -3px #FEF200;
  line-height: 2em;
  list-style: none outside none;
  margin: 0 0 10px;
  padding-right: 35px;
	display:block;
}
#block-menu-primary-links ul.menu li a.link-new-idea {
 background-position: right -90px;
}
#block-menu-primary-links ul.menu li a.link-comment {
	background-position: right -123px;
}

#block-menu-primary-links ul.menu li a.link-news {
	background-position: right -160px;
}
#block-menu-primary-links ul.menu li a.link-login {
	background-position: right -58px;
}

#block-menu-primary-links ul.menu li a.link-tag {
	background-position: right -29px;
}
#block-menu-primary-links ul.menu li a {
	color:#4E4A49;
  font-weight: bold;
  text-decoration: none;
}
#block-menu-primary-links ul.menu li.active-trail a.active {
  background-color: #F5F5F5;
  border-bottom: 1px solid #D3D1C7;
  border-top: 1px solid #D3D1C7;
  width: 135px;
	padding-top:3px;
	padding-bottom:3px;
}

.view-recent-comments .views-row {
  background: url("../images/icon-comment.gif") no-repeat scroll top right transparent;
  border: 4px solid #CCCCCC;
  padding: 10px 40px;
  margin-bottom: 1.5em;
}
/*categories*/
.views-field-name, 
.views-field-tid,
.terms-inline li,
#block-views-categories-block_1 .views-row {
  display: inline-block;
  margin: 2px;
  background-color: yellow;
  padding: 2px !important;
  font-weight: bold;
  text-decoration: none;
}
.views-field-name span a,
.views-field-tid span a,
.terms-inline li a,
#block-views-categories-block_1 .views-row a {
  color: black;
  text-decoration: none;
}

/*QT Tabs*/

#quicktabs-in_action .quicktabs_tabs,
#quicktabs-ideas_index .quicktabs_tabs,
#quicktabs-brand_page .quicktabs_tabs {
  margin: 20px 0;
}

#quicktabs-in_action .quicktabs_tabs li,
#quicktabs-ideas_index .quicktabs_tabs li,
#quicktabs-brand_page .quicktabs_tabs li {
  background: #999;
  padding: 8px;
  margin: 4px;
}
#quicktabs-in_action .quicktabs_tabs li.active,
#quicktabs-ideas_index .quicktabs_tabs li.active,
#quicktabs-brand_page .quicktabs_tabs li.active {
  background: #000;
  padding: 8px;
  margin: 4px;
  text-decoration: none;
}

#quicktabs-in_action .quicktabs_tabs li a,
#quicktabs-ideas_index .quicktabs_tabs li a,
#quicktabs-brand_page .quicktabs_tabs li a{
  color: yellow;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

/*views search exposed filter form*/
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0.2em;
}
#comments {
    background: url("../images/icon-comment.gif") no-repeat scroll right top transparent;
    border-top: 4px solid #CCCCCC;
    margin-top: 20px;
    padding-right: 40px;
}
ul li.comment_add {
	display:none;
}
#comments .comment {
	padding-bottom:10px;
	background:url("../images/line-hor.gif") no-repeat scroll bottom right transparent;
}
.comment_show {
	font-weight: bold;
	text-decoration:underline;
}
#block-ideal-ideal_profile {
	margin-bottom:30px;
}
#comments .picture,
.views-row .picture,
.node .picture,
#block-ideal-ideal_profile .picture {
	float:right;
	padding:2px;
	margin-left:8px;
	border:1px solid #ccc;
}

#comments .picture img,
.views-row .picture img,
.node .picture img,
#block-ideal-ideal_profile .picture img {
  vertical-align: top
}

.node-teaser-node-type-idea .content {
  margin-top: 18px;
}
.node .meta {
  font-size: 12px;
}
.node .content p{
  margin-bottom: 0px;
}
.node-type-idea .content ol,
.node-type-idea .content ul 
  {
  padding-right: 20px;
}

.profile .picture  {
	float:none;
	margin:0;
}
.service-links ul.links li {
	padding:0;
}

#block-views-idea_in_focus-block_1 .pager li {
  display: none;
}

#block-views-idea_in_focus-block_1 .pager li.pager-next {
  display: block; 
  padding: 0;
  margin: 0;
  background: url("../images/next-idea-b.jpg") no-repeat 0 0 transparent;
  width: 42px;
  height: 42px;
  text-indent: -9999px;
  overflow: hidden;
}

#block-views-idea_in_focus-block_1 .pager li.pager-next a {
  display: block;
  direction: ltr; 
  width: 42px;
  height: 42px;
  text-indent: -9999px;
  overflow: hidden;
 }
 
 /* VIEW IDEAS INDEX*/
 .view-ideas-index .views-row {
   line-height: 1.2;
   margin-bottom: 10px;
 }

 .view-ideas-index .views-field-created span{
   font-size: 10px;
   color: #888;
 }


/* Login Text */
 #user-login .log-text {
   font-size: 14px;
 }
 #user-login .log-text a {
   font-size: 16px;
   background-color: yellow;
   text-decoration: none;
 }

.cke_skin_kama {
  width: 98% !important;
} 

.spivak-logo h2 a.book-title {
    background: url("../images/S_Y_logo_square.png") repeat scroll 0 0 transparent;
    height: 109px;
    overflow: hidden;
    text-indent: -900px;
    width: 147px;
		display:block;
}
.view-brand-page-description a h2 {
	text-decoration:underline;
}