/* 
 * Linnovate - Community Infrastructure Care.
 *   
 * John Bryce theme WYSIWYG editor stylesheet.
 *
 */
 
html, body {
  direction: rtl;
  background: #fff;
}
h2 {
  color: #12637A;
  font-size: 18px;
}
h3 {
  color: #12637A;
  font-size: 15px;
  font-weight: bold;
}
table {
  width: 100% !important;
}
table th {
  background: #ececec;
  font-size: 15px;
  font-weight: bold;
  color: #3a3f43;
  border: 1px solid #c4c5c5;
  padding: 7px;
}
table td {
  border: 1px solid #c4c5c5;
  padding: 7px;
  color: #7f7f7f;
  background: url('../images/celeste-grad-bot.png') repeat-x bottom #fff;
}
img,
object,
iframe {
  float: right;  
  border: 2px solid #FFFFFF;
  margin: 5px 0 5px 10px;
  padding: 3px;

  background-color: #d2d2d2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d2d2d2)); 
  background-image: -webkit-linear-gradient(top, #ffffff, #d2d2d2); 
  background-image:    -moz-linear-gradient(top, #ffffff, #d2d2d2); 
  background-image:     -ms-linear-gradient(top, #ffffff, #d2d2d2); 
  background-image:      -o-linear-gradient(top, #ffffff, #d2d2d2); 
  background-image:         linear-gradient(top, #ffffff, #d2d2d2);
  
  -moz-box-shadow: 0px 0px 4px #999;
  -webkit-box-shadow: 0px 0px 4px #999;
  box-shadow: 0px 0px 4px #999;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  position: relative;
  behavior: url(/sites/all/libraries/css3pie/PIE.htc);
}
