/* $Id: flag-admin.css,v 1.1.2.1 2009/09/28 02:05:06 quicksketch Exp $ */

table.flag-admin-table {
  width: auto;
  margin: 0;
}
table.flag-admin-table th {
  font-weight: normal;
  padding-left: 2em;
  padding-right: 2em;
}
table.flag-admin-table td {
  padding-left: 2em;
  padding-right: 2em;
}
