#ideal-dashboard-page {
  padding: 10px;
  background-color: #F8F8F8;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
#ideal-dashboard-page img {
  padding: 10px;
}
#ideal-dashboard-page .ideal-dashboard-option-row {
  padding: 6px 0;
}
#ideal-dashboard-page .form-item { 
  display: inline; 
  padding-right: 5px; 
}
#ideal-dashboard-page .ideal-dashboard-table {
  float: left;
  margin: 0 10px;
}

#charts div {
  float: left;
}

