.openideal-slideshow {
  overflow: hidden;
  position: relative;
}

ul.swiper-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.swiper-wrapper img {
  width: 100%;
}

/* Swiper container */
.swiper-container {
  max-width: 100%;
}

/* swiper responive image */
.openideal-slideshow img {
  width: 100%;
  height: auto;
}

@media (max-width: 1270px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 25px;
  }

}
