body {
  font-family: "Georgia", "Times New Roman", serif;
  font-size:9pt;
  line-height:15pt;
  margin:0pt;
  padding:0pt;
  }

a {
  color:#000;
  text-decoration:none;
  }

div.comment-links,
div.node-links,
ul.links,
div.page-links,
div.box,
div.picture,
form { display:none; }

ul.inline,
ul.inline li,
ul.inline li a {
  float:none;
  display:inline;
  }

div.limiter { max-width:50em; }

/*
 * FILTER TEXT =========================================================
 */

.prose a {
  font-style:italic;
  border-bottom:1pt solid #ccc;
  }

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose p,
.prose ul,
.prose ol,
.prose blockquote {
  margin: 0pt 0pt 15pt;
  }

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  border-bottom:1pt solid #ccc;
  padding-bottom:5pt;
  font-weight:normal;
  font-size:11pt;
  }

.prose h1 { font-size:15pt; }

.prose h2 { font-size:13pt; }

.prose ol li,
.description ol li {
  list-style:decimal;
  }

.prose img {
  page-break-inside:avoid;
  display:block;
  }

/**
 * PRINT PAGE HEADER ==================================================
 */
div.print-header {
  font-family: Arial, sans-serif;
  clear:both;
  border-bottom:1pt solid #ccc;
  padding: 0pt 0pt 10pt;
  margin: 0pt 0pt 10pt;
  line-height:20pt;
  }

  div.print-header img.logo { display:block; height:20pt; }

/**
 * FOOTER =============================================================
 */
#footer {
  font-size:7pt;
  font-family: Arial, sans-serif;
  clear:both;
  border-top:1pt solid #ccc;
  padding: 10pt 0pt 0pt;
  margin: 10pt 0pt 0pt;
  line-height:20pt;
  }

/**
 * NODE ===============================================================
 */
.node-title {
  line-height:20pt;
  font-size:18pt;
  letter-spacing:-0.5pt;
  font-weight:normal;
  margin: 0pt 0pt 10pt;
  }

  .node-title a { text-decoration:none; }

div.node-submitted,
div.comment-submitted {
  margin:10pt 0pt;
  color:#666;
  font-family: Arial, sans-serif;
  font-size:7pt;
  }

div.node .footer {
  margin:10pt 0pt;
  font-size:6pt;
  }

div.comment {
  border-top:1pt solid #ccc;
  padding:10pt 0pt;
  }

h6.comments-title {
  padding:10pt 0pt;
  font-size:9pt;
  font-family: Arial, sans-serif;
  }

.comment-title {
  font-size:13pt;
  font-weight:normal;
  }

/*
 * CCK ================================================================
 */
.node .field-label { display:inline; }
.node .field { margin:10pt 0pt; }

/**
 * TABLES =============================================================
 */
table {
  border-collapse: collapse;
  width:100%;
  }

table th {
  font-family: Arial, Helvetica, sans-serif;
  }

table th,
table td {
  font-size:9pt;
  padding: 5pt 10pt;
  border:1pt solid #ccc;
  }

/**
 * Modifications for the screen to make the page a bit more reasonable
 * when previewing before print.
 */
@media screen {
  body {
    background:#f8f8f8;
    padding:100px 0px;
    }

  div.limiter {
    background:#fff;
    padding:.5in;
    width:7in;
    border:5pt solid #eee;
    }
}
