/* $Id: sky-rtl.css,v 1.1.4.2 2010/08/27 18:38:36 katbailey Exp $ */

ul.quicktabs_tabs.quicktabs-style-sky li {
  float: right;
}

ul.quicktabs_tabs.quicktabs-style-sky li a,
ul.quicktabs_tabs.quicktabs-style-sky li a:visited {
  float: right;
}