
/*-----------------------------------------------------------------------------
                          Inner - page (challenge / idea)
------------------------------------------------------------------------------*/

body .panels-bootstrap-inner_page ,.node-type-idea {

  /* --- layout --- */

  #panel-bootstrap-column-main { 
    padding-right: 58px;
    margin-left: 15px;
    width: 64.6%;
  }
  @media all and(max-width:991px)
  {
     #panel-bootstrap-column-main { 
    padding-right: 0;
    margin-left: 0;
    width: 100%;
    }
  }
 
  #panel-bootstrap-region-center {
    margin-bottom: 20px;
    background-color: $light-gray;
    .panel-pane { margin-bottom: 17px; }
  }
  #panel-bootstrap-region-content_bottom,
  #panel-bootstrap-region-sidebar {
    padding: 0;
  }

  /* --- pane-node-title --- */

  .pane-node-title h3 {
    margin: 12px 0 0 0;
    font-size: 30px;
  }

  /* --- pane-user-picture --- */

  .pane-user-picture {
    float: left;
    margin: 5px 10px 5px 5px;
    width: 35px;
  }

  /* --- pane-node-author --- */

  .pane-node-author {
    background: rgb(224, 224, 224);
    height: 45px;
    margin-bottom: 22px !important;
    padding-left: 10px;
    .username {
      display: inline-block;
      margin-top: 12px;
      font-weight: bold;
      font-size: 13px;
      float: left;
    }
  }

  /* --- pane-node-field-status --- */

  .pane-node-field-status {
    float: right;
    margin-top: -52px;
    margin-right: 100px;
    font-size: 13px;
    .field-item { @include mixin-font-icon($list); }
  }

  /* --- pane-node-created --- */

  .pane-node-created {
    float: right;
    margin-top: -57px;
    margin-right: 100px;
    font-size: 13px;
    .pane-content {
      @include mixin-font-icon($calendar,16px); 
      &:before {
        margin-right: 5px;
        position: relative;
        top: 2px;
      }
    }
  }

  /* --- pane-node-field-share --- */

  .pane-node-field-share {
    cursor: default;
    position: relative;
    padding-bottom: 15px;
    float: right;
    margin-top: -57px;
    margin-right: 13px;
    color: $blue;
    &:hover .pane-content { display: block; opacity: 1;  }
    .pane-title { 
      font-size: 13px;
      font-weight: bold;
      margin: 0;
      @include mixin-font-icon($share,19px);
      &:before {
        font-weight: normal;
        position: relative;
        top: 3px;
      }
    }
    .pane-content { 
      opacity: 0;
      display:none;
      -webkit-transition: all 200ms;
      position: absolute;
      top: 35px;
      right: -13px;
      width: 165px;
      padding: 5px 15px;
      background: #BDBDBD;
      color: black;
      .social-button {
        overflow: hidden;
        display: inline-block;
        width: 25px;
        line-height: 1;
        height: 25px;
        iframe, .IN-widget { opacity: 0; }

        &:before { position: absolute; }

        // 1
        @include mixin-font-icon($fb-like,25px);
        &:hover { color: #050075; }

        // 2
        +.social-button {
          margin-left: 10px;   @include mixin-font-icon($twitter,25px); 
          &:hover { color: $blue; } 
        } 

        // 3 
        +.social-button + .social-button {
          @include mixin-font-icon($google,25px); 
          &:hover { color: red; }
        }  

        // 4
        +.social-button + .social-button + .social-button {
          @include mixin-font-icon($linkedin,25px); 
          &:hover { color: #006081; } 
        }
      }
    }
  }

  /* --- pane-node-field-challenge-ref --- */

  .pane-node-field-challenge-ref {
    margin-bottom: 8px;
    font-size: 19px;
    font-weight: lighter;
    .pane-title {
      margin: 0 7px 0 0;
      line-height: 25px;
      float: left;
      font-size: 19px;
    }
  }

  /* --- pane-node-body --- */

  .pane-node-body {
    line-height: 22px;
  }

  /* --- pane-node-field-idea-image --- */

  .pane-node-field-idea-image {
    width: 100%;
    .pane-title {
        display: none;
    }
    .pane-content {  
      position: relative;
      .bx-prev,.bx-next {
        position: absolute;
        top: 45%; 
        font-size: 0; 
        &:before {
          background: rgb(119, 117, 117);
          font-family: 'OpenIdeal';
          font-size: 16px;
          color: #fff;
        }
      }
      .bx-next { right: 0; }
      .bx-next:before {
        border-radius: 100px 0px 0 100px;
        content: $arrow-right;
        padding: 14px 3px 14px 7px;
      }
      .bx-prev:before {
        border-radius: 0 100px 100px 0;
        content: $arrow-left;
        padding: 14px 7px 14px 3px;
      }
    }
    .field-name-field-idea-image{
       img{
        width: 100%;
        height: 100%;
        margin-bottom: 8px;
       }
    }
  }

}

/* --- pane-node-comment-form --- */

.pane-node-comment-form {
  clear: both;
  .pane-title {
    @include mixin-pane-title(text);
    margin-bottom: 20px;
    @include mixin-font-icon($comment,24px,$green);
    &:before { top: 2px; position: relative; }
  }
  .pane-content {
    // .comment-form {}
  } 
}

/* --- .comment-form --- */

.comment-form {
  background: $light-gray;
  padding: 3%;
  display: inline-block;
  width: 94%;
  .form-group { margin-bottom: 12px; }

  /* -- textarea -- */

  textarea {
    font-size: 13px;
    padding: 7px 10px;
    height: 75px;
  }
  label, .grippie { display:none; }
  .form-item-subject { display: none !important; }

  /* -- user-picture / username -- */

  .field-type-text-long ~ .form-item {
    display: table;
    float: left;
    margin-bottom: 0;
    margin-top: -3px;
  }
  .user-picture {
    margin-right: 10px;
    width: 37px;
    height: 37px;
    img { 
      width: 45px; 
      height: 45px;
      border-radius: 100%;
    }
  }
  .username { 
    display: table-cell;
    vertical-align: middle;  
    font-weight: bold; 
    font-size: 13px; 
  }

  /* -- submit -- */

  .form-submit {
    float: right; 
    font-weight: bold;
    font-size: 15px;
    /*padding: 2px 32px 7px 32px;*/
    @include mixin-font-icon($comment,17px,#fff);
    &:before {
      top: 4px;
      position: relative;
      font-weight: normal;
    }
  }
}


/* --- pane-node-comments --- */

.pane-node-comments {
   &#comments {
    @media all and (max-width:767px){
           display: none;
      }
   }
   .content{
    margin-top: 0px;
   }
   .comment_show{
    font-size: 14.2px;
    float: left;
    margin: 43px 0 0 0;
    display: inline;
    padding-left: 0;
    cursor: pointer;
    color: #1A9ECF;
    font-weight: 700;
   }
  clear: both; 
  font-size: 1em;
  background: $text-white;
  .pane-title {
    padding: 0.2em 1em;
    margin: 1.1em 0 0 0;
    font-size: 1.8em;
    @include mixin-font-icon($discussions, 1.3em, $icon-gray, 'icon-font');
    &:before {
      vertical-align: middle;
      font-weight: normal;
    }
  }
  .pane-content {
     @media all and (min-width:767px){
        padding: 0 1.3em 3em 1.3em;
     }
    
    a {
      color: $blue;
      font-size: 1.35em;
      text-decoration: none;
      float: none;
      font-weight: bold;
    }
    ul.links {
      font-size: 0.75em;
      float: left;
      margin: 3.7em 0 0 0;
      padding-left: 9px;
      li {
        &.flag-abuse_comment, &.flag-abuse_whitelist_comment {
          display: none;
        }
        &.comment-reply {
          @include mixin-font-icon($discussions, 1.6em, $blue, 'icon-font');
          &:before {
            vertical-align: middle;
          }
        }
      }
    }

    & > a:first-child + .comment {
      border-top: 1px solid $light-border;
    }

    $space: 3.2em;

    &  > .indented  {
      background: $athens-gray;
      margin: 0;
      padding: 0;
      & > .comment {
        padding: 1em 0 1em $space;
      }
      & > .indented {
        & > .comment {
          padding: 1em 0 1em $space * 2;
        }
        & > .indented {
          & > .comment {
            padding: 1em 0 1em $space * 3;
          }
        }
      }
    }
  }


  .comment-form { 
    @include comment-form;
    display:none; 
    margin: 35px 0 10px; 
    order: 1;
    clear: both;
    &.open {
      display: inline-block !important;
    }
  }


  .comment {
    border-bottom: 1px solid $light-border;
    padding: 1em 0;
    /* -- user-picture / username -- */

    > .user-picture {
      float: left;
      margin: 2px 10px 10px 0;
      width: 37px;
      height: 37px; 
      @media all and (max-width:767px) {
        width: 20%;
        height: 100%;
      }
      img { 
        width: 45px;
        height: 45px;
        border-radius: 100%;
      }
    } 
    > span .username {
      font-weight: bold;
      float: none;
      margin-right: 5px;
    }

    /* -- comment-body -- */

    .submitted {  
      margin: 0; 
      float: right;
      font-style: normal;
      .username { display:none; }
      .field-name-comment-body { 
        font-size: 1.1em;
        margin-bottom: 3px; 
      }
      span { 
        float: left; 
        margin-top: 21px;
         @media all and (max-width:767px) {
              color: #848B95;
              margin-top: 0px;

        }
        /*margin-top: 1.4em; */
      }
    }

    /* -- field-name-field-vote -- */

    .field-name-field-vote{
      display: none;
      float: right;
      * { display: inline; }
      .ajax-progress {
        .glyphicon{
          margin: 0;
          &:before { top: 0;  margin: 0; }
        }
      }
      .vud-link-reset, .field-label {
        display: none;
      }
      .vud-widget-alternate {
        float: none; position: relative; margin: 0;
      }
      .alternate-votes-display {
        font-size: 11px;
        height: auto;
        border: 1px solid $light-border;
        border-radius: 20px;
        padding: 5px 8px 3px 23px;
        line-height: 1.1;
        font-weight: bold;
        font-family: Arial;
      }
      .up-active,.up-inactive , .vud-link-reset {
        position: absolute;
        /*left: 7px;*/
        top: -1px;
        width: auto;  
        display: inline-block;
        background: none;
        @include mixin-font-icon('\e605',13px,$green);
        &:empty:before { display: inline-block !important; }
      }
      .up-active:before { color: #8DD5A8;  }
      .vud-link-reset:before { color: #8DD5A8;  }
      .up-active , .vud-link-reset {
         background-color : $light-flamingo;
       }  
    }
  }

  /* -- links.list-inline -- */

  .links.list-inline a { font-weight: bold; color: $green; }

}


/*-----------------------------------------------------------------------------
                        Challenge:  Inner - page
-----------------------------------------------------------------------------*/



/* ------------------------------- pane-ideal-challenge-challenge-add-idea-button --------------------------- */

.pane-region-first .pane-ideal-challenge-challenge-add-idea-button {
    /*width: 50%;*/
    float: left;
    @media all and (max-width:767px) {
      display:none;
    }
 
}

.pane-ideal-challenge-challenge-add-idea-button {
  width: 100%;  
  .challenge-add-idea-button a.btn-success {
    @include orange-btn($plus);
    @media all and (max-width:767px) {
      margin-bottom: 21px;
    }
  }
}

#panel-bootstrap-column-main .pane-ideal-challenge-challenge-add-idea-button {
  padding: 0;
  width: 140px;
  a.btn.btn-success{
    font-size: 15px;
    font-weight: bold;
    padding: 7px 0 11px;
    line-height: 15px;
    &:before {
      top: 6px;
      font-weight: normal;
      font-size: 24px;
    }
  }
} 



/* ----------------------------------- view-challenge-display, view-idea-display ---------------------------------- */
@media all and (max-width:767px) {
  .node-type-challenge .pane-region-first {
      width: 100%;

  }
  .view-challenge-display, .view-idea-display {
    .view-content {
      position: relative;
      padding-bottom: 0.5em;

    }
  }
}

/* ----------------------------------- pane-views-ideas-in-challenge-block ---------------------------------- */

.pane-views-ideas-in-challenge-block {
  .pane-title {
    margin: 0;
    font-size: 2.1em;
    line-height: 1.3em;
    @include mixin-font-icon($idea, 2em, $ecstasy, 'icon-font');
      &:before {
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
         @media all and (max-width:767px) {
           font-size: 1.4em;
         }
      }

    @media all and (max-width:767px) {
      margin-top: 1.3em;
      text-align: center;
      margin-top: 31px;
      font-size: 1.7em;
    }  
  }

  .ol-item.idea {
    padding: 20px;
    @media all and (max-width:767px) {
      &:first-child {
        margin-top: 0;
      }
      margin-bottom: 0;
      margin-top: 9px;
      padding: 14px;
      .views-field-body {
        font-size: 14px;
        min-height: 23px;
      }
         
     }
    .row-bottom-openideal {
      .author {
        @media all and (max-width:767px) {
            display: flex;
            // width: 38%;
            align-items: center;
          }
      }
      .details {
        font-size: 0.7em;
        & > .comment-link, & > .comment-add {
          font-size: 0.7em;
          @media all and (max-width:767px) {
            display: none;
          }
        }
        & > .comment-count, & > .vote-count {
          line-height: 1em;
           @media all and (max-width:767px){
              line-height: 1.3em;
              margin-top: 1px;
           }
        }
        & > .comment-count{
            @media all and (max-width:767px){
             /*margin-left: -32px;*/
           }
           @media all and (min-width:767px){
              line-height: 1.6em;
           }
        }
      }
    }
    @media all and (max-width:767px) {
      .ol-item-title {
        line-height: 1em;
      }
    }
  }
  
  .views-field-view {
    .pane-node-comments {
      background: $athens-gray;
      .pane-content {
        @media all and (min-width:767px) {
           padding: 0 3.2em 0 0;
        }
        ul.links {
           @media all and (max-width:767px) {
            display: none;
          }
          margin: 3.7em 0 0 0;
        }
        .comment {
          border-top: none !important;
          font-size: 0.85em;
          @media all and (max-width:767px) {
            padding-bottom: 0;
          }
        }
        &.views-row-last .comment {
          border-bottom: none;
        } 
      }
    }
  }
  
}


/*-----------------------------------------------------------------------------
                        Idea:  Inner - page
-----------------------------------------------------------------------------*/


.pane-node-field-vote {
  margin: 0 0 -4px !important;
  display: inline-block;
  width: 100%;
  .pane-title {
    display: none;
  }
  
  .ajax-progress {
    .glyphicon{
      margin: 0;
      &:before { top: 0;  margin: 0; }
    }
  }
  .vud-widget-alternate {
    width: 100%;
    text-align: center;
    margin: 0;
    height: auto;
    position: relative;
  }
  .alternate-votes-display {
    display: none;
  }
  .up-active,.up-inactive , .vud-link-reset{
    position: relative;
    top: 0;
    margin-left: 0;
    @include orange-btn($love);
    margin-bottom: 0.8em;
    &:before {
      content: 'Votes';
    }
    &:after {
      background: none;
      color: $text-white;
    }
  }
  .reset-active{
    display: none;
  }
  .up-active ,  .vud-link-reset{ background: $light-flamingo;  }
  
  .vud-link-reset{ 
    position: absolute;
    left: 0;
  }
  /*.vud-widget-thumbs{ width: 100%; margin: 0; }
  .clear-block {
    width: 47%;
    margin-right: 3%;
    height: 56px;
    padding: 15px;
    text-align: center;
    display: block;
    background: $green;
    .vote-thumb {
      color: white; 
      background: none;
      &:empty:before { display: block !important; }
    }
    &.up-score {
      float: left;
      .vote-thumb { @include mixin-font-icon('\e60f',21px); }
    }
    &.down-score {
      float: right;
      margin: 0;
      .vote-thumb { @include mixin-font-icon('\e60e',21px); }
    }
  }*/
}

body.not-logged-in{
  .pane-node-field-vote {
    .up-active , .vud-link-reset{
      &:before {
        content: "Voting need registration";
      }
      &:after {
        display: none;
      }
    }
  }
}

.pane-node-field-attachments {
  width: 100%;
  margin-bottom: 38px !important;
  clear: both;
  background-color: $text-white;
  border-radius: 4px;
  border: 1px solid #E6E9EE;

  .pane-title {
    @include mixin-font-icon($attachments,0.7em);
    color: $black;
    font-weight: 100;
    border-bottom: 1px solid #E6E9EE;
    width: 91%;
    margin: 0 auto;
    margin-top: 13px;
    padding-bottom: 10px;
  }
  .field-name-field-attachments{
    width: 90%;
    margin: 14px auto;
  }
  .field-item {
    font-size: 13px;
    font-weight: bold;
    + .field-item {
      padding-top: 15px;
    }
    a{
      color:$blue;
      text-decoration: none;
      font-size: 1.4em;
    }
/*    a:before { 
      content: ''; 
      padding: 4px 10px;
      margin-right: 10px;
      @include icons-smart-sprite(DOC-S-icon);
    }
    a[type*='text']:before {  @include icons-smart-sprite(DOC-S-icon);  }
    a[type*='pdf']:before {  @include icons-smart-sprite(PDF-S-icon);  }
    img { display: none; }
*/  }
}

/* @media all and(max-width:991px) and(min-width:767px)
  {
   #panel-bootstrap-region-center.col-sm-12 { 
    margin-left:0;
    }
  }*/
#popup{
  .modal-header{
    border-bottom:0;
    h1{
      margin-left: 25px;
      margin-top: 10px;
    }
  }
  .modal-body{
    padding: 45px;
    padding-top: 0;
    padding-bottom: 0;
  }
  p{
    font-size:150%;
  }
  p.total-points{
    font-size:125%;
    background-color:#f2f2f2;
    text-align:center;
    padding:10px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  p b{
    color:#078fbc;
  }
  .modal-footer{
    border:0;
    text-align:center;
    a, button{
      margin-left:5px;
      margin-right:5px;
      background-color:$green;
    }
    .go-home{
      @include icons-smart-sprite(icon-go-home);
      background-color:$green;
    }
    .share-wrap{
      position: relative;
      &:hover .share-content { display: block; opacity: 1;  }
      
      .share-content{
        opacity: 0;
        display:none;
        -webkit-transition: all 200ms;
        position: absolute;
        top: -48px;
        right: 5px;
        width: 167px;
        padding: 5px 15px;
        background: #BDBDBD;
        color: black;
        .social-botton {
          overflow: hidden;
          display: inline-block;
          width: 25px;
          line-height: 1;
          height: 25px;
          iframe, .IN-widget { opacity: 0; }

          &:before { position: absolute; }

          // 1
          @include mixin-font-icon($fb-like,25px);
          &:hover { color: #050075; }

          // 2
          +.social-botton { 
            margin-left: 10px;   @include mixin-font-icon($twitter,25px); 
            &:hover { color: $blue; } 
          } 

          // 3 
          +.social-botton + .social-botton { 
            @include mixin-font-icon($google,25px); 
            &:hover { color: red; }
          }  

          // 4
          +.social-botton + .social-botton + .social-botton { 
            @include mixin-font-icon($linkedin,25px); 
            &:hover { color: #006081; } 
          }  
        }
      }

      .share-btn{
        @include icons-smart-sprite(icon-share);
        background-color:$green;
      }
    }
    
  }
}


.page-community {
  .view-id-community {
    .thumbnail {
      @include pie-clearfix;
    }
  }
}

/*--------------------------------------------------------------------
                          Idea : Inner-page
----------------------------------------------------------------------*/
.node-type-idea {
  .comment_forbidden{
    a{
      color: $raven;
    }
    @include mixin-font-icon($account, 1.7em, $raven, 'icon-font');
  }
  .comment_forbidden::before{
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 1px;
  }
  .ol-item.idea {
    padding: 1.25em 0.7em 0.17em 0.7em;
    margin-top: 1em;
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
    .views-field-title, .views-field-body {
      margin: 0 0.7em;
      margin-top: -14px;
    }
    h1.ol-item-title {
      font-size: 1.7em;
      line-height: 1.7em;
      margin-top: 0.5em;
      margin-bottom: 0;
      @include mixin-font-icon($idea, 1.7em, $ecstasy, 'icon-font');
      &:before {
        font-weight: normal;
        vertical-align: middle;
        margin-right: 0.3em;
        margin-left: 0;
      }
    }
    .row-bottom-openideal {
      & > div {
        &.author {
          margin-left: 0;
          margin-right: 0.2em;
          .picture {
            img {
              max-width: 1.7em;
              height: 1.7em;
            }
          }
        }
        &.details {
          font-size: 0.8em;
          & > div {
            margin-right: 1.1em;
            &.dates {
              margin-right: 0;
            }
          }
        }
      }
      .name a{

      }
    }
  }
  .back-challenge {
    @include blue-btn;
    margin-top: 1em;
    display: inline-block;
    float: right;
    text-decoration: none;
  }
   @media (max-width: 768px) {
     .panel-panel.unit.pane-region-second {
       width: 100%;
     }
    .panel-panel.unit.pane-region-first {
      width: 100%;
    }
    .panel-pane.pane-custom.pane-1 {
      display: none;
    }
    .pane-region-second .inside {
      flex-direction: column-reverse;
      margin-top: 36px;
      .count {
        margin-top: 0 !important;
      }
      .panel-pane.pane-entity-field.pane-node-field-idea-image {
            margin-top: 17px;
      }
    }
    .pane-ideal-blocks-idea-stats #ideal-challenge-stats .ideas::before {
        content: "";
    }
    .pane-ideal-blocks-idea-stats #ideal-challenge-stats {
      margin-top: 6px;
    }
    .pane-ideal-blocks-idea-stats {
      margin-bottom: 13px;
      table {
        margin-bottom: 7px;
        td{
          padding-bottom: 6px;
      }
     }
    }
    .pane-node-field-vote .up-active, .pane-node-field-vote .up-inactive ,.pane-node-field-vote .vud-link-reset {
        line-height: 1.8em;
        font-size: 1.4em;
        margin-bottom: 0.8em;
    }

    .pane-ideal-blocks-idea-stats #ideal-challenge-stats .count {
      font-size: 18px;
      .name {
        font-size: 18px;
      }
    }
    .counts.idea-page {
      margin-top: 0;
    }
    .ol-item .row-bottom-openideal > div.author .share {
      right: 0;
     .social-buttons .social-button {
      text-align: center;
      a {
        text-indent: 0em;
      }
    }
    }
    
 }
}

.node-type-challenge {
  .comment_forbidden{
    a{
      color: $raven;
    }
    @include mixin-font-icon($account, 1.7em, $raven, 'icon-font');
  }
  .comment_forbidden::before{
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 1px;
  }
  .ol-item{  
    margin-top: 1.1em;
  }
  .pane-node-comment-form {
      margin-top: 32px;
    .pane-title{
      display: none;  
    }
  }
  .ol-item.challenge {
    .views-field-field-challenge-image {
      width: 100%;
      .ol-item-image {
        margin: 0 0 1.5em 0;
        width: 100%;
        img {
          width: 100%;
          height: 500px;
        }
      }
    }
    .views-field-title {
      display: inline-block;
      position: relative;
      h1.ol-item-title {
        display: block;
        margin-left: 1.5em;
        font-size: 1.7em;
        line-height: 1.3em;
        margin-top: 0.5em;
        margin-bottom: 0;
        @include mixin-font-icon($challenges-list, 1.7em, $la-palma, 'icon-font');
        &:before {
          position: absolute;
          left: 0;
          font-weight: normal;
          vertical-align: middle;
          margin-right: 0.3em;
          margin-left: 0;
        }

        @media all and (max-width:767px) {
          margin: 0;
          font-size: 1.3em;
          &:before {
            display: none;
          }
        }
      }      
    }

    @media all and (max-width:768px) {
      .row-bottom-openideal {
        padding-top: 0.7em !important;
        & > div.author {
          width: auto;
        }
        .author {
          .picture img {
            width: 3em;
            height: auto;
          }
        }
        .details {
          .add-comment {
            a {
              color: transparent;
              &:before {
                float: right;
                font-size: 2.3em;
                margin-top: 0.1em;
              }
            }
          }
        }
      }
    }

  }
  .pane-views-ideas-in-challenge-block {
    & ~ .pane-ideal-challenge-challenge-add-idea-button {
      .challenge-add-idea-button {
        a.btn-success {
          width: 50%;
          float: right;
          margin-bottom: 1em;
              @media all and (max-width:767px){
                display: none;
            }
        }    
      }  
    }
  }
  .pane-node-comments {
    ul.links {
      margin: 0;
    }
  }
   
}


