/**
 * @file sasson/styles/sasson-rtl.scss
 */

// ==== RTL support. ========================================================
// This file imports and automatically create all the RTL overrides
// ==========================================================================

@flip {file: "sasson.scss"};
