/* Adjust the background position when using this widget with a RTL langauge. */
div.fivestar-widget-static .star span.on {
  background-position: right -28px;
}
div.fivestar-widget div.on a {
  background-position: right -14px;
}
div.fivestar-widget div.hover a, div.rating div a:hover {
  background-position: right -28px;
}