.view--news--all-news-page {
  .node--type-article {
    margin-bottom: 20px;
  }
  .block-field-blocknodearticletitle {
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .block-field-blocknodearticlefield-tags {
    display: block;
    margin-top: 10px;

    h2 {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
