.openideal-statistics--graphs-reports {
  section.main-content {
    display: flex;
    flex-wrap: wrap;

    .block-openideal-statistics-charts-block {
      flex-basis: 100%;
      flex-grow: 1;
      .charts {
        display: flex;
        justify-content: center;
      }
    }

    div[data-drupal-messages] {
      flex-basis: 100%;
    }

    .block-system-main-block {
      flex-basis: 100%;
    }

    & > div:not(:nth-child(3)) {
      flex-basis: 50%;

      h2 {
        text-align: center;
      }

      .content {
        display: flex;
        justify-content: center;
      }
    }

  }
}

.openideal-statistics--graphs-reports .container-fluid .main-content {
  .block-page-title-block {
    flex-basis: 100%;
    flex-grow: 1;

    .content {
      justify-content: flex-start;
    }
  }
}
