/* $Id: print-rtl.css,v 1.1.2.3 2010/07/14 14:52:53 jcnventura Exp $ */

body {
  direction: rtl;
}
th {
  text-align: right;
}
.print-links,
.print-source_url,
.print-taxonomy {
  text-align: left;
}
