#gct-analytics-page {
  padding: 10px;
  background-color: #F8F8F8;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
#gct-analytics-page img {
  padding: 10px;
}
#gct-analytics-page .gct-analytics-option-row {
  padding: 6px 0;
}
#gct-analytics-page .form-item { 
  display: inline; 
  padding-right: 5px; 
}
#charts div {
  float: left;
}

