/* TYPOGRAPHY */

// Font
$font-family-assistant: 'Assistant', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-base: $font-family-assistant;

// Size
$font-size-base: 1.125rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .8889;
$font-size-xs: $font-size-base * .8333333333333334;

// Weight
$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;

// Line height
$line-height-base: 1.333;

// Heading
$h1-font-size: 2.25rem;
$h2-font-size: 1.377rem;
$h3-font-size: 1.33rem;
$h4-font-size: 1.33rem;
$h5-font-size: 1.33rem;
$h6-font-size: 0.889rem;
// Color
$main-font-color: #343352;