/* VARIABLES */

// colors
$primary-color: #343352;
$primary-shade: rgb(255, 78, 46);
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: #0079C0;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fa;
$gray-800: #343a40;
$dark-gray: #676C72;

// Btn collors
$btn-light: #27C0FF;
$btn-dark: #1294ca;
$theme-colors: ( primary: $accent-shade, secondary: $primary-shade, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);
$brand-primary: $accent-shade;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
$body-bg: #F0F2F3;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
// Links
//
// Style anchor elements.
$link-color: $accent-shade;
$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;

// Grid columns
//
// Re-set the number of columns and specify the width of the gutters.
$grid-columns:                24;
$grid-gutter-width:           15px;

$grid-breakpoints: (
 xs: 0,
 sm: 576px,
 md: 768px,
 lg: 992px,
 xl: 1200px,
 xxl: 1330px,
 xxxl: 1670px,
);

$container-max-widths: (
 sm: 540px,
 md: 720px,
 lg: 960px,
 xl: 1160px,
 xxl: 1300px,
 xxxl: 1600px,
);
