/* $Id: fonts_2.css,v 1.1.2.1 2009/05/25 09:33:10 jwolf Exp $ */

/*****************/
/* Font Family 2 */
/*****************/

body {
  font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Helvetica, Arial, sans-serif;
}
