.ideas-projects-manager-left {
  float:left;
}

.ideas-projects-manager-right {
  float: right;
}
#ideas-projects-manager-project-manager-exposed-form,
#ideas-projects-manager-idea-manager-exposed-form {
  border-bottom: 1px solid #ccc;
}

#ideas-projects-manager-config-project-form #remove,
#ideas-projects-manager-ideas-list-form #add {
  cursor: pointer;
  background: #0074BD;
  color: white;
  padding: 3px 8px;
}
