/* $Id: admin_menu_toolbar.css,v 1.6 2010/07/28 16:12:40 sun Exp $ */

/**
 * @file
 * Toolbar style for Administration menu.
 *
 * Important: We cannot re-use toolbar.png from Toolbar module, since we cannot
 * reliably determine the path to it.
 *
 * @todo Separate shortcut functionality into own module/widget.
 */

/* Adjust margin/height */
html body.admin-menu {
  margin-top: 29px !important;
}
body div#toolbar {
  top: 30px;
}

#admin-menu {
  font: normal 0.9em "Lucida Grande", Verdana, sans-serif;
  box-shadow: 0 3px 20px #000;
  -moz-box-shadow: 0 3px 20px #000;
  -webkit-box-shadow: 0 3px 20px #000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10')";
}
#admin-menu.admin-menu-position-fixed {
  margin: 0 -20px;
  padding: 0 20px;
}
#admin-menu-wrapper {
  padding: 5px 10px 0;
}

#admin-menu ul a {
  color: #fafafa;
}

/* Remove border from all lists and actions */
#admin-menu li.admin-menu-action a {
  border-left: 0;
}
#admin-menu li.admin-menu-icon > a {
  padding: 2px 10px 3px;
}
#admin-menu li.admin-menu-icon > a span {
  background: url(toolbar.png) no-repeat 0 -45px;
  display: block;
  height: 14px;
  text-indent: -9999px;
  width: 11px;
}
#admin-menu > div > ul > li > a {
  border-right: 0;
  margin-bottom: 4px;
  padding: 2px 8px 3px;
}
#admin-menu ul li.admin-menu-toolbar-category > a,
#admin-menu ul li.admin-menu-action > a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#admin-menu ul li.admin-menu-toolbar-category > a.active-trail {
  text-shadow: #333 0 1px 0;
  background: url(toolbar.png) 0 0 repeat-x;
}
#admin-menu ul li.admin-menu-toolbar-category > a:hover {
  background-color: #444;
}
#admin-menu ul li.admin-menu-tab a {
  border-right: 0;
}
#admin-menu li li.expandable ul {
  margin: -22px 0 0 160px;
}

/**
 * Shortcuts toggle.
 */
#admin-menu li.admin-menu-shortcuts {
  float: right;
}
#admin-menu li.admin-menu-shortcuts span.toggle {
  background: url(toolbar.png) 0 -20px no-repeat;
  cursor: pointer;
  display: block;
  height: 25px;
  overflow: hidden;
  text-indent: -999px;
  width: 25px;
}
#admin-menu li.admin-menu-shortcuts-active span.toggle {
  background-position: -25px -60px;
}

/**
 * Shortcuts widget.
 */
#admin-menu li.admin-menu-shortcuts-active ul {
  display: block !important;
  left: 0 !important;
  width: 100%;
}
#admin-menu li.admin-menu-shortcuts ul {
  background-color: #666;
  padding: 5px 10px;
  right: 10px;
  width: auto;
}
#admin-menu li.admin-menu-shortcuts ul li {
  background: transparent none;
  opacity: 1;
  width: auto;
}
#admin-menu li.admin-menu-shortcuts ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top: 0;
  padding: 5px 10px 5px 5px;
  margin-right: 5px;
}
#admin-menu li.admin-menu-shortcuts ul li a:hover {
  background: #555;
}
#admin-menu li.admin-menu-shortcuts ul li a.active:hover,
#admin-menu li.admin-menu-shortcuts ul li a.active {
  background: url(toolbar.png) 0 -20px repeat-x;
}
