/* Fivestar Settings Preview */
div.fivestar-star-preview {
  border: none;
  width: 200px;
  height: 60px;
}
div.fivestar-widgets div.form-item {
  float: left; /* RTL */
}

/* Fivestar Node Type Preview */
#fivestar-comment-form,
#fivestar-direct-form {
  float: left; /* RTL */
}
#fivestar-comment-preview,
#fivestar-direct-preview {
  float: left; /* RTL */
  margin-left: 40px; /* RTL */
  width: 300px;
}
#fivestar-node-type-form fieldset {
  background: transparent;
}
.fivestar-preview {
  border: 1px solid #CCC;
  padding: 10px;
}

/* Farbtastic placement */
.color-form {
  max-width: 50em;
  position: relative;
}
#placeholder {
  position: absolute;
  top: -0.5em;
  right: 0; /* RTL */
}

/* Palette */
.color-form .form-item {
  height: 2em;
  line-height: 2em;
  margin: 0.5em 0;
}
.color-form label {
  float: left; /* RTL */
  width: 12em;
}
.color-form .form-text, .color-form .form-select {
  float: left; /* RTL */
}
.color-form .form-text {
  text-align: center;
  margin-right: 5px; /* RTL */
  cursor: pointer;
}

#fivestar-palette .lock {
  float: left; /* RTL */
  position: relative;
  left: -3px; /* RTL */
  width: 20px;
  height: 25px;
  background: url(../images/lock.png) no-repeat 50% 2px;
  cursor: pointer;
}
#fivestar-palette .unlocked {
  background-position: 50% -22px;
}
#fivestar-palette .form-item .form-item {
  width: inherit;
  margin: 0;
  float: left; /* RTL */
}
#fivestar-palette .item-selected input {
  border: 2px solid black;
}
#fivestar-direct-preview div.description {
  margin-bottom: 0;
}
#fivestar-direct-preview div.feedback{
  font-size: 0.85em;
  line-height: 150%;
}
