@CHARSET "UTF-8";

.heartbeat-group-left {
  width: 11%;
  float: left;
}

.heartbeat-group-content {
  float: left;
  width: 89%;
  float: left;
  color: #808080;
}

.heartbeat-group-content .group-footer {
  margin: 6px 0;
}
