/* $Id: ie7-fixes.css,v 1.1 2009/02/28 23:33:58 jwolf Exp $ */

/*************/
/* IE7 FIXES */
/*************/

/* set background-colors to fix text cursor bug */
#page,
#main-wrapper {
  background-color: #292929;
}

#postscript-wrapper,
#footer-wrapper {
  background-color: #000;
}

/* limit legend width to text length */
form fieldset legend {
  display: inline-block !important;
}

/* hide search label */
#header-wrapper .search_submit {
  padding-left: 20px;
  width: 20px;
}

/* block & vocab list items alignment fix*/
.block li,
li.vocab {
  list-style-position: outside;
  list-style-type: none;
}

/* fieldset & ledgend fixes */
html.js fieldset {
  margin-top: 1em;
  padding-top: 1em;
  position: relative;
}

html.js legend {
  left: .5em;
  position: absolute;
  top: -.7em;
}

html.js fieldset.collapsed {
  margin-bottom: 20px;
}


/******************/
/* HELPER CLASSES */
/******************/
.clearfix {                                       /* add .clearfix class to clear floats after an element */
  display: block;
  height: 1%;
}
