/* $Id: local_sample.css,v 1.1.4.1 2009/05/26 06:21:30 jwolf Exp $ */

/* Local CSS
-------------------------------------------------------------- */

/**
 * Put your custom css and css overrides in this file and
 * rename it local.css. By restricting your css changes 
 * to local.css, your changes will not be overwritten when
 * upgrading to a new version of this theme.
 *
 *  Steps to activate local.css:
 *  1. Add your custom css to this file.
 *  2. Rename this file to local.css  
 */