/**
 * Editor =============================================================
 */
div.context-editor div.label {
  float: right;
}
div.context-editor div.links {
  float: left;
}
#admin-toolbar div.context-editor div.links a {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}

/**
 * Horizontal
 */
#admin-toolbar.horizontal form.edited div.context-editor div.buttons,
#admin-toolbar.horizontal div.context-editor div.item-list {
  float: right;
  clear:right;
}

#admin-toolbar.horizontal div.context-editor div.contexts {
  float: left;
}

#admin-toolbar.horizontal div.context-editor div.context-editable {
  padding-right: 20px;
  padding-left: 0;
}

/**
 * Admin listing page =================================================
 */
table.context-admin td.ctools-export-ui-name {
  padding-right: 20px;
  padding-left: 0;
}
table.context-admin div.description {
  padding-right: 10px;
  padding-left: 0;
  margin:0px;
}

/**
 * Context form =======================================================
 */
.context-plugins .context-plugin-list li span.remove {
  left: 10px;
  right: auto;
}
.context-plugins .context-plugin-forms {
  float: left;
}
