/* $Id: nodequeue.css,v 1.3 2009/08/17 21:37:05 ezrag Exp $ */

.nodequeue-dragdrop .position {
  font-weight: bold;
  color: #999;
}

#edit-add-nid {
  color: #999;
}

td.nodequeue-add-submit {
  width: 80%;
}
