fieldset.filter-wrapper, form.node-idea-form label{
	display: none;
}
.go-back span{
	background-image: url('../img/go-back.png');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
}
.submit-idea.btn-primary{
	background-color: #43ac6a;
	background-image: url('../img/submit-idea.png');
	background-position: 10px 7px;
	background-repeat: no-repeat;
	border-color:#2d844d;
}
.submit-idea span{
	padding-left: 33px;
}
#idea-node-form .dragdropfile-processed:before {
	content: "";
	background:none;
	border:0;
}
#idea-node-form .dragdropfile-processed{
	outline: none;
	background: none;
	border: 0;
}
#idea-node-form .form-type-managed-file{
	background: #f3f3f3;
	border: dashed 2px #c6c6c6;
	text-align: center;
	padding: 10px;
}
#idea-node-form div.image-widget-data{
	float: none;
}
#idea-node-form .dragdropfile-processed label{
	display: block;
}
#idea-node-form .panel-default{
	border:0;
	-webkit-box-shadow:none;
	box-shadow: none;
	background: none;
	
}
#idea-node-form .panel-body{
	padding: 0
}
#idea-node-form .image-widget-data input.form-control, #idea-node-form .image-widget-data button, #idea-node-form .file-widget input.form-control, #idea-node-form .file-widget button{
	display: none;
}
#idea-node-form .field-type-image, #idea-node-form .field-type-file{
	width: 75%;
	float: right;
}
#idea-node-form  .panel-default>.panel-heading{
	display: none;
}
#idea-node-form .form-type-managed-file label{
	border:0;
	background-image: url('../img/upload-images.png');
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 38px;
	margin-top: 25px;
	text-align: center;
}
#idea-node-form .form-type-managed-file label .title{
	margin-bottom: 10px;
	font-size: 15px;
}
#idea-node-form .field-type-file label{
	background-image: url('../img/upload-docs.png');
}
#idea-node-form .panel-default table thead, #idea-node-form .panel-default .tabledrag-toggle-weight, #idea-node-form .panel-default table td .tabledrag-handle, #idea-node-form .panel-default table td .image-widget-data{
	display: none;
}
#idea-node-form .panel-default table td{
	background:none;
	border:0;
	padding: 0;
	position: relative;
}
#idea-node-form .panel-default table{
	
}
#idea-node-form .panel-default table tbody tr{
	
}
#idea-node-form .panel-default table td button.btn-danger{
	position: absolute;
	background:none;
	background-image: url('../img/remove.png');
	text-indent: -9999px;
	width: 19px;
	height: 19px;
	padding: 0;
	border: 0;
	right: 8px;
	top: 8px;
}
#idea-node-form .panel-default table td img.file-icon{
	display: block;
	-moz-box-sizing: border-box;
	-webkit-sizing: border-box;
	box-sizing: border-box;
	background-image: url('../img/icon-doc.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
	content: '';
	width: 76px;
	height: 106px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#idea-node-form .panel-default table td img.file-icon[title="application/pdf"]{
	background-image: url('../img/icon-pdf.png');
}
#idea-node-form .panel-default table td .file-widget, #idea-node-form .panel-default table td .image-widget{
	width: 100%;
	text-align: center;
	background-color: #f3f3f3;
	padding: 8px;
	margin-bottom: 10px;
}
#idea-node-form .panel-default table td .image-widge{
	float: none;
}
#idea-node-form .node-column-sidebar{
	float: right;
	width: 20%;
}
#idea-node-form .node-column-main{
	width: 80%;
	float: left;
}