/* $Id: l10n_client-rtl.css,v 1.3 2008/10/13 18:37:55 goba Exp $ */

#l10n-client {
  direction: ltr;
}
#l10n-client .string-list {
  direction: rtl;
  text-align: right;
}
#l10n-client-form .form-textarea {
  direction: rtl;
}
