/*-----------------------------------------------
                    Icons
  // Faenza icon theme - http://code.google.com/p/faenza-icon-theme/
-----------------------------------------------*/

@import "sprites/vert";


.flag-wrapper {
  @include sprite-vert-flag(false, false);
  padding-left: 20px;
}
li.comment-comments a,
li.comment-add a,
li.comment-reply a {
  @include sprite-vert-comment(false, false);
  padding-left: 20px;
}
li.node-readmore a {
  @include sprite-vert-next(false, false);
  padding-left: 20px;
}
li.comment-edit a {
  @include sprite-vert-comment-edit(false, false);
  padding-left: 20px;
}
li.comment-delete a {
  @include sprite-vert-comment-del(false, false);
  padding-left: 20px;
}
li.forward_link a {
  @include sprite-vert-email(false, false);
  padding-left: 20px;
}
.field-type-taxonomy-term-reference ul.links {
  @include sprite-vert-tag(false, false);
  padding-left: 20px;
}
