/*-----------------------------------------------
             IdeaL specific styles
-----------------------------------------------*/

@import "sprites/smart";

.watcher_node {
  float: right;
  background-image: none !important; // Watcher module uses !important
  @include box;
  padding: 3px 10px;
  transition: box-shadow 0.3s ease-out;

  &:hover {
    box-shadow: 0 0 5px #ccc;
  }
}
.vud-widget-alternate {
  height: auto;
  margin: 4px 20px 0 0;

  .alternate-votes-display {
    border-radius: 4px;
    background: #fff;
  }
  .up-active {
    @include sprite-smart-thumb-up-dis;
    margin: 5px auto;
    opacity: .9;
    transition: opacity 0.3s;
    &:hover {
      @include sprite-smart-thumb-up-dis;
      opacity: 1;
    }
  }
  .up-inactive {
    @include sprite-smart-thumb-up-en;
    margin: 5px auto;
    opacity: .9;
    transition: opacity 0.3s;
    &:hover{
      @include sprite-smart-thumb-up-en;
      opacity: 1;
    }
  }
  .reset-active {
    text-align: center;
    margin-top: -3px;
    // padding-bottom: 2px;
    font-size: .75em;
    color: #222;
    &:hover {
      text-decoration: underline;
    }
  }
}
