/*-----------------------------------------------
                 Quicktabs
-----------------------------------------------*/
.quicktabs-tabs,
ul.tabs.primary {
  padding: 0 0 0 10px !important;
  margin: 0 !important;

  .item-list & li,
  li {
    margin: 0;
  }
  li a {
    display: inline-block;
    padding: 4px 8px;
    margin: 0 .2em;
    border: 1px solid #eee;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    margin-bottom: -1px;
    font-size: .8em;
    background: transparent;
    color: lighten($text-color, 25%);

    &:hover {
      color: $text-color;
    }
  }
  li.active a {
    border-color: #ddd;
    display: inline-block;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    color: $text-color;
  }
}
.quicktabs-tabpage {
  padding: 5px 5px 0;
  border-radius: 5px;
   border: 1px solid #ddd;

  .views-row,
  .view-empty {
    @include box;
  }
}
