div#admin-toolbar.horizontal div.admin-tab {
  float:right;
  margin-left:5px;
  margin-right:0;
  }

div#admin-toolbar div.admin-tab-active {
  -moz-border-radius:5px 0px 0px 5px;
  }

/**
 * Horizontal layout.
 */
#admin-toolbar.horizontal div.admin-panes {
  padding-left:0;
  padding-right:25%;
  }

#admin-toolbar.horizontal div.admin-panes div.admin-pane-tabs {
  left:auto;
  right:0px;
  }

#admin-toolbar.horizontal div.admin-panes div.admin-pane-tabs a {
  -moz-border-radius:3px 3px 0px 0px;
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  }

#admin-toolbar.horizontal div.admin-panes div.admin-pane-tabs a.admin-pane-active {
  border-width:1px 1px 1px 0px;
  margin-left:-1px;
  margin-right:0;
  }

