/**
 * Breadcrumb
 */

div#admin-toolbar div.admin-tab.admin-menu a {
  background-image:url(../images/sprite-rtl.png);
  background-position:0% -70px;
  padding-left:20px;
  padding-right:0px;
  }

/**
 * Tooltips
 */
div#admin-toolbar.horizontal span.menu-description {
  left:auto;
  right:60%;
  padding-left:0;
  padding-right:20px;
  }

/**
 * Menu
 */
#admin-toolbar ul.drilldown-active-menu li {
  background-image:url(../images/sprite-rtl.png);
  background-position:100% -85px;
  }

  #admin-toolbar ul.drilldown-active-menu li.leaf { background-position:100% -110px; }

#admin-toolbar ul.menu li a {
  margin-left:0;
  margin-right:25px;
  }

#admin-toolbar.horizontal ul.drilldown-active-menu { float:right; }
#admin-toolbar.horizontal ul.drilldown-active-menu li { float:right; }
