/* $Id: arrows-rtl.css,v 1.1.4.2 2010/08/27 18:38:35 katbailey Exp $ */

ul.quicktabs_tabs.quicktabs-style-arrows{
  padding:0 0 0 10px!important;
  height:25px;
}

ul.quicktabs_tabs.quicktabs-style-arrows li{
  float:right;
}
