.toolbar-icon-openideal-toolbar-help {
  --toolbar-url: url(../misc/icons/openideal_logo.png);
}

.toolbar-icon-openideal-toolbar-help:before {
  background-image: var(--toolbar-url);
}

.toolbar-icon-openideal-toolbar-help:active:before,
.toolbar-icon-openideal-toolbar-help.active:before {
  background-image: var(--toolbar-url);
}
